<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'Our Dna'" [pageName]="'Careers'" [description]="'Embedded genetics while in pursuit of our manifesto – Digital Innovation'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid dnaTaglineSection">
    <div class="container dnataglineContainer">
        <div class="dnaWrapper">
            <p>We believe that a vision can be pursued and accomplished when everyone<br>achieves their goals driving religiously through the laid core values of the<br>organization.</p>
        </div>
    </div>
</div>


<div class="container-fluid dnaImageNeoSoftSection">
    <div class="container dnaImageContainer">
        <div class="dnaImageWrapper">
            <h3>Core Guiding Principles</h3>
            <img src="../../../../assets/images/whowearemodule/ourDna/dna-neosoft.png" alt="neosoftDna">
        </div>
    </div>
</div>

<div class="container-fluid moreAboutNeosoftSection">
    <div class="container moreAboutNeo">
        <div class="containerWrapper">
            <h3 class="inner-section-title">More About NeoSOFT</h3>
            <div class="row rowWrapper">
                <div class="col-lg-4 col-sm-4 colWrapper colFirst">
                    <div class="contentWrraper">
                        <div class="img-holder">
                            <a routerLink="/our-vision-mission">
                                <img src="../../../../assets/images/whowearemodule/moreaboutneosoft/Our-Vision-Mission.jpg" alt="ourvisionAndMission">
                            </a>
                            <h4><a routerLink="/our-vision-mission">our vision & mission</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 colWrapper colSecond">
                    <div class="contentWrraper">
                        <div class="img-holder">
                            <a routerLink="/our-csr-initiatives">
                                <img src="../../../../assets/images/whowearemodule/moreaboutneosoft/our-csr.jpg" alt="our-csr">
                            </a>
                            <h4><a routerLink="/our-csr-initiatives">our csr</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 colWrapper colThird">
                    <div class="contentWrraper">
                        <div class="img-holder">
                            <a routerLink="/our-culture">
                                <img src="../../../../assets/images/whowearemodule/moreaboutneosoft/our-culture.jpg" alt="ourCulture">
                            </a>
                            <h4><a routerLink="/our-culture">our culture</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->