<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'certification'" [pageName]="'Company'" [description]="'Committed to deliver excellence by adhering to quality standards and benchmarks.'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid certification">
    <div class="container certificationContainer">
        <div class="certificationWrapper">
            <div class="certificationImg">
                <img src="../../../../assets/images/whowearemodule/certification/certificate.png" alt="certificate">
            </div>
            <div class="certificationListContent">
                <ul>
                    <li>
                        <h3>ISO</h3>
                        <span>9001:2008</span>
                        <h4>Quality Management</h4>
                        <img src="../../../../assets/images/whowearemodule/certification/certificate-right-icon.png" alt="rightIcon">
                    </li>
                    <li>
                        <h3>ISO</h3>
                        <span>27001:2013</span>
                        <h4>Information Security</h4>
                        <img src="../../../../assets/images/whowearemodule/certification/certificate-right-icon.png" alt="rightIcon">
                    </li>
                    <li>
                        <h3>ISO</h3>
                        <span>20000-1:2011</span>
                        <h4>IT Management</h4>
                        <img src="../../../../assets/images/whowearemodule/certification/certificate-right-icon.png" alt="rightIcon">
                    </li>

                    <li>
                        <h3>ISO</h3>
                        <span>22301:2012</span>
                        <h4>Business Continuity Management</h4>
                        <img src="../../../../assets/images/whowearemodule/certification/certificate-right-icon.png" alt="rightIcon">
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->