<div class="container competencies">
    <div class="competenciesWrapper">

        <div class="competenciesHeader" (click)="isCompetencies = !isCompetencies">
            <div class="row">
                <div class="col-lg-5 colFirst">
                    <div class="title">
                        {{ title}}
                        <!-- This is title -->
                    </div>
                </div>
                <div class="col-lg-6 colSecond">
                    <div class="decscription">
                        <h2>
                            {{description}}
                            <!-- This is Desc -->
                        </h2>
                    </div>
                </div>
                <div class="col-lg-1 colThird">
                    <div class="icon">
                        <!-- <span [ngClass]="{'icon-right-open-big':!isCompetencies, 'icon-cancel': isCompetencies}"></span> -->
                        <!-- <img [src]="'right-arrow-sign': !  isCompetencies, 'close-sign':isCompetencies" /> -->
                        <img [src]="arrowRight" alt="" *ngIf="!isCompetencies">
                        <img [src]="close" alt="" *ngIf="isCompetencies">
                    </div>
                </div>
            </div>

        </div>
        <div class="competenciesBody" *ngIf="isCompetencies">
            <!-- *ngIf="isCompetencies" -->
            <div class="row">
                <div class="col-lg-2 left-col">
                    <div class="img-box">
                        <img [src]="imgUrl" alt="microsoft">
                        <!-- <img src="../../../../assets/images/whowearemodule/overview/devops/DevOps-Consulting.png" alt=""> -->
                    </div>

                </div>
                <div class="col-lg-10 right-col">
                    <div class="description-title">
                        <p class="para-first" *ngIf="paraDescriptionFirst">{{ paraDescriptionFirst }}</p>
                        <p class="para-second" *ngIf="paraDescriptionSecond">{{ paraDescriptionSecond }}</p>
                    </div>

                    <div class="lists">
                        <p class="list-tittle-first" *ngIf="listTitleFirst">{{ listTitleFirst }}</p>
                        <ul *ngIf="posts">
                            <ng-container *ngFor="let post of posts">
                                <li><a href="javascript:void(0)"> {{ post.name }}</a></li>
                            </ng-container>
                        </ul>
                        <p class="list-tittle-second" *ngIf="listTitleSecond">{{ listTitleSecond }}</p>
                        <ul *ngIf="postsSecond" class="list-second">
                            <ng-container *ngFor="let post of postsSecond">
                                <li class="li-second"><a href="javascript:void(0)"> {{ post.name }}</a></li>
                            </ng-container>
                        </ul>
                        <p class="list-tittle-third" *ngIf="listTitleThird">{{ listTitleThird }}</p>
                        <ul *ngIf="postsThird" class="list-second">
                            <ng-container *ngFor="let post of postsThird">
                                <li class="li-second"><a href="javascript:void(0)"> {{ post.name }}</a></li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>