@import "src/assets/scss/index";
.right-arrow-sign {
    background-image: url(../../../../assets/images/whowearemodule/accordian/accordion-arrow.png);
}

.close-sign {
    background-image: url(../../../../assets/images/whowearemodule/accordian/accordion-close.png);
}

.competencies {
    // background-color: #fff;
    margin-bottom: 8px;
    // padding: 0;
    .competenciesWrapper {
        // .competenciesHeader {
        //     width: 100%;
        //     display: inline-block;
        //     .row {
        //         background-color: #fff;
        //         // border: 1px solid black;
        //         .colFirst {
        //             display: flex;
        //             align-items: center;
        //             height: auto;
        //             padding: 22.23px 27.82px;
        //             .title {
        //                 text-transform: uppercase;
        //                 font-size: 20.02px;
        //                 display: flex;
        //                 align-items: center;
        //                 height: auto;
        //                 color: #2f3030;
        //                 // padding: 22.23px 0 22.23px 0;
        //             }
        //         }
        //         .colSecond {
        //             display: flex;
        //             align-items: center;
        //             height: auto;
        //             padding: 22.23px 27.82px;
        //             .decscription {
        //                 h2 {
        //                     font-size: 1.14rem;
        //                     font-weight: 400;
        //                     margin-bottom: 0;
        //                     color: #2f3030;
        //                 }
        //             }
        //         }
        //         .colThird {
        //             padding: 22.23px 27.82px;
        //             display: flex;
        //             /* align-items: center; */
        //             justify-content: center;
        //             background-color: #ffbc46;
        //             .icon {
        //                 display: flex;
        //                 align-items: center;
        //                 justify-content: center;
        //                 color: white;
        //                 font-size: 26px;
        //             }
        //         }
        //     }
        // }
        .engagementHeader {
            width: 100%;
            display: flex;
            // border: 1px solid red;
            // background-color: grey;
            .colFirstWrapper {
                width: 90%;
                display: flex;
                align-items: center;
                height: auto;
                padding: 22.23px 27.82px;
                background-color: #ffffff;
                flex-wrap: wrap;
                @media (max-width: 767.98px) {
                    padding: 13px;
                    width: 80%;
                }
                .title {
                    width: 35%;
                    text-transform: uppercase;
                    font-size: 20.02px;
                    color: #2f3030;
                    @media (max-width: 767.98px) {
                        width: 100%;
                        font-size: 18.59px;
                        margin-bottom: 13px;
                    }
                }
                .decscription {
                    width: 65%;
                    padding: 0 40px;
                    @media (max-width: 767.98px) {
                        width: 100%;
                        padding: 0 0;
                    }
                    h2 {
                        font-size: 1.14rem;
                        font-weight: 400;
                        margin-bottom: 0;
                        color: #2f3030;
                    }
                }
            }
            .colSeocndWrapper {
                width: 10%;
                display: flex;
                justify-content: center;
                height: auto;
                padding: 22.23px 27.82px;
                background-color: #ffbc46;
                @media (max-width: 767.98px) {
                    width: 20%;
                }
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 26px;
                }
            }
        }
        .competenciesBody {
            .row {
                padding: 20px 20px;
                margin-right: 0px;
                margin-left: 0px;
                padding: 20px 20px;
                background-color: #fff;
                border-top: 1px solid #d3d3d3;
                .left-col {
                    @media (max-width: 767.98px) {
                        padding-right: 0 !important;
                        padding-left: 0 !important;
                    }
                    .img-box {
                        padding-right: 40px;
                        img {
                            // width: 100%;
                            // filter: grayscale(1);
                            max-width: 98px;
                            max-height: 98px;
                        }
                    }
                }
                .right-col {
                    padding-left: 0px;
                    .description-title {
                        P {
                            margin-top: 13px;
                            font-size: 1.14rem;
                            color: #414140;
                            line-height: 1.8rem;
                        }
                    }
                    .lists {
                        .list-tittle-first {
                            padding-top: 13px;
                            font-size: 15.95px;
                            color: #414140;
                            line-height: 25.2px;
                        }
                        .list-tittle-second {
                            padding: 13px 0px;
                            font-size: 15.95px;
                            color: #414140;
                            line-height: 25.2px;
                        }
                        .list-tittle-third {
                            padding: 13px 0px;
                            font-size: 15.95px;
                            color: #414140;
                            line-height: 25.2px;
                        }
                        .custom-heading {
                            // margin-top: 2.5rem !important;
                            // margin-bottom: 1rem !important;
                            margin-top: 1rem;
                            font-size: 15.95px;
                            color: #414140;
                            line-height: 25.2px;
                            strong {
                                font-weight: 700;
                            }
                        }
                        .moreInfoPara {
                            font-size: 14.82px;
                            color: #414140;
                            line-height: 25.2px;
                            margin-top: 6px;
                        }
                        ul {
                            display: inline-block;
                            width: 100%;
                            list-style-type: none;
                            position: relative;
                            padding-top: 20px;
                            li {
                                width: 50%;
                                float: left;
                                position: relative;
                                a {
                                    font-size: 14.92px;
                                    color: #414160;
                                    line-height: 1.8rem;
                                    padding-left: 19px;
                                    display: block;
                                    &::before {
                                        content: "t";
                                        font-family: "neofont" !important;
                                        color: #e23434;
                                        position: absolute;
                                        left: 0px;
                                        top: auto;
                                        font-size: 0.8rem;
                                        font-weight: 700;
                                        vertical-align: middle;
                                        line-height: 28px;
                                    }
                                }
                            }
                            .li-second {
                                width: 100%;
                                float: left;
                                position: relative;
                            }
                        }
                        .list-second {
                            padding-top: 0px;
                            // padding-top: 20px;
                            padding-top: 20px;
                        }
                    }
                }
            }
        }
    }
}