html {
    font-size: 14px;
    height: 100%;
}

body {
    font-size: 14px;
    font-family: $primary-font;
    font-weight: 400;
    // color: $secondary-color;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

::-moz-selection {
    /* Code for Firefox */
    background: red;
    color: white;
}

 ::selection {
    background: red;
    color: white;
}