// Fonts
$primary-font: 'Lato-Regular'!important;
// $secondary-font: 'Copycat', sans-serif;
// $ternary-font: 'LapsusPro Bold', sans-serif;
$topBarBgColor: #000;
$topBarTextColor: #ffffff;
$DefaulttextColor:#333;
// Border Color 
$dark-border: #707070;
$light-border: #d3d3d3;
$base-font-size: 14px;
//for blog section
// $breadcrumb-divider: quote(">");