<!-- header Bar -->
<app-header></app-header>
<!-- header Bar ends -->

<!-- Full js coding -->
<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
    <div class="section section-one commonSection fp-auto-height-responsive">
        <div class="container-fluid enterprise commonSectionFluid">
            <div class="container commonSectionContainer">
                <div class="commonWrapper">
                    <div class="sectionTop section--white-text">
                        <div class="sectionHeading">
                            <div class="heading">
                                <h2>Enterprises</h2>
                            </div>
                            <div class="subheading">
                                <h4>Working with Large Enterprises as well as Small <br> & Medium-Sized Enterprises (SMEs)</h4>
                            </div>
                        </div>
                        <p class="custom-width">We transform the way small, medium & large enterprises conduct their business with customers / clients, vendors / suppliers, partners and employees in this digital age.</p>
                        <p class="services-include">Our services include :</p>
                        <div class="bulletList">
                            <ul>
                                <li>Idea to Prototype</li>
                                <li>Minimal Viable Product (MVP)</li>
                                <li>Complete Product Engineering</li>
                                <li>Technology Migration / Re-engineering</li>
                                <li>Maintenance &amp; Support</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sectionBottom section--white-text">
                        <h3>Brands speaks everything</h3>
                        <div class="rightOverlay">
                            <ul class="we-work-list">
                                <li><img alt="" src="../../../../assets/images/weworkwith/we-work-slider/enterpriseClient/sbi-logo.png"></li>
                                <li><img alt="" src="../../../../assets/images/weworkwith/we-work-slider/enterpriseClient/sbi-logo.png"></li>
                                <li><img alt="" src="../../../../assets/images/weworkwith/we-work-slider/enterpriseClient/sbi-logo.png"></li>
                                <li><img alt="" src="../../../../assets/images/weworkwith/we-work-slider/enterpriseClient/sbi-logo.png"></li>
                                <li><img alt="" src="../../../../assets/images/weworkwith/we-work-slider/enterpriseClient/sbi-logo.png"></li>
                                <li><img alt="" src="../../../../assets/images/weworkwith/we-work-slider/enterpriseClient/sbi-logo.png"></li>
                                <li><img alt="" src="../../../../assets/images/weworkwith/we-work-slider/enterpriseClient/sbi-logo.png"></li>
                                <li><img alt="" src="../../../../assets/images/weworkwith/we-work-slider/enterpriseClient/sbi-logo.png"></li>


                            </ul>
                        </div>
                        <h3><a class="section--white-text" href="javascript:void(0);" (click)="goToUrl('https://www.neosofttech.com/clientele/')">Many more...</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-two commonSection fp-auto-height-responsive">

    </div>
    <div class="section section-three commonSection fp-auto-height-responsive">

    </div>
    <div class="section section-four commonSection fp-auto-height-responsive">
        <app-footer></app-footer>
    </div>
</div>