<!-- header section here -->
<app-header></app-header>
<!-- header section here -->

<!-- banner section start -->
<div class="container-fluid bannerSection overview-bottom-bg bottom-gradient-bg marginTop">
    <div class="container bannerContainer">
        <div class="bannerWrapper">
            <div class="banner-breadcumb">
                <ul>
                    <li class="home">
                        <a href="javascript:void(0)"><span class="icon-home"></span></a>
                    </li>
                    <!-- <li class="company"><a href="javascript:void(0);">Our Csr Initiatives</a></li> -->
                    <li><strong>Our CSR Initiatives

                    </strong></li>
                </ul>

            </div>
            <div class="banner-content">
                <h1 class="inner-page-title">Our CSR Initiatives

                </h1>
                <p class="title-description">“We make a living by what we get, but we make a life by what we give.”</p>
                <p class="author">-Winston Churchill</p>
            </div>
        </div>
    </div>
</div>
<!-- banner section ends -->

<div class="container-fluid csrInfo">
    <div class="container csrInfoContainer">
        <p>NeoSOFT is built and grown by the combination of achievements, business expansion and commitment to the society. Moving beyond the traditional bottom line, we adopt the triple bottom line method to see our business as a social, environmental and
            financial entity. Under the aegis of NeoSOFT FOUNDATION, we actively contribute towards the development of humankind and the society we live in. The objective is to build a better and sustainable livelihood for the weaker and impoverished
            sections of the society.</p>
    </div>
    <div class="container csrInitiatives">
        <h3 class="initiatives-title">Our Initiatives</h3>
        <div class="initiatives-top-carousel">
            <div id="sync11" class="owl-carousel owl-theme">
                <div class="item itemFirst">
                    <!-- <h1>1</h1> -->
                </div>
                <div class="item itemSecond">
                    <!-- <h1>2</h1> -->
                </div>
                <div class="item itemThird">
                    <!-- <h1>3</h1> -->
                </div>
                <div class="item itemFour">
                    <!-- <h1>4</h1> -->
                </div>
                <div class="item itemFive">
                    <!-- <h1>5</h1> -->
                </div>
                <div class="item itemSix">
                    <!-- <h1>5</h1> -->
                </div>
            </div>
        </div>
        <div class="initiatives-container">
            <div class="owl-carousel owl-theme" id="sync22">
                <div class="item itemCommonWrapper">
                    <div class="imgHolder">
                        <img src="../../../../assets/images/whowearemodule/csr/child-education.jpg" alt="child-education">
                    </div>
                    <div class="initiativesInfoSec">
                        <h3>Child education</h3>
                        <p>Education remains the backbone of every progressive society in this world, and many are still deprived of quality education. Providing education opportunities to the needy is the core CSR mission of NeoSOFT and while doing so,
                            we aim at helping the aspiring students in the best possible manner.</p>
                        <p>We have contributed towards formal and non-formal education, adult education, scholarships for girls, merit scholarships, technical education, distance education, girl child education, and digital literacy/computer education.</p>
                    </div>
                </div>
                <div class="item itemCommonWrapper">
                    <div class="imgHolder">
                        <img src="../../../../assets/images/whowearemodule/csr/Job_employment.jpg" alt="job-employbility">
                    </div>
                    <div class="initiativesInfoSec">
                        <h3>Employability</h3>
                        <p>While unemployment can be the biggest worry for the youths today, we aim at creating a solution to address the root-cause of this problem. With opportunities in abundance, the need of the hour is to develop employability skills
                            and be able to crack the chance. We look at all the dimensions of a candidate while providing employment opportunity. Employment opportunities for the destitute, skill development and vocational training are some of the initiatives
                            we undertake to boost the employability factor of the needy.</p>
                    </div>
                </div>
                <div class="item itemCommonWrapper">
                    <div class="imgHolder">
                        <img src="../../../../assets/images/whowearemodule/csr/Medical_assistance.jpg" alt="Medical_assistance">
                    </div>
                    <div class="initiativesInfoSec">
                        <h3>Medical Assistance</h3>
                        <p>We commit ourselves towards the health and safety of everyone. For the impoverished who cannot afford medical expenses, NeoSOFT grants financial assistance for their medical treatment. This could include treatment of fatal health
                            issues, surgeries, therapies or regular treatment or life-threatening diseases.</p>
                    </div>
                </div>
                <div class="item itemCommonWrapper">
                    <div class="imgHolder">
                        <img src="../../../../assets/images/whowearemodule/csr/Environment.jpg" alt="environment">
                    </div>
                    <div class="initiativesInfoSec">
                        <h3>Environment Protection</h3>
                        <p>We have adopted the approach of responsibility towards the prevention and alleviation of environmental damage. We take extra care to maintain the environment which is an utmost part of our ecosystem. Our CSR encompasses programs
                            and drives to create awareness on environment protection, conduct plantation drives, water conservation programs, organic farming, cleanliness, and other awareness drives.</p>
                    </div>
                </div>
                <div class="item itemCommonWrapper">
                    <div class="imgHolder">
                        <img src="../../../../assets/images/whowearemodule/csr/Disaster.jpg" alt="Disaster">
                    </div>
                    <div class="initiativesInfoSec">
                        <h3>Disaster Relief</h3>
                        <p>Over the past few years, we have been facing significant natural disasters, uprooting the lives of many and leaving several unsheltered and homeless. For every natural calamity that occurs, we allocate funds from our disaster relief
                            quota and also work towards pooling helping hands from other possible sources.</p>
                    </div>
                </div>
                <div class="item itemCommonWrapper">
                    <div class="imgHolder">
                        <img src="../../../../assets/images/whowearemodule/csr/Women_empowerment.jpg" alt="woman-emporment">
                    </div>
                    <div class="initiativesInfoSec">
                        <h3>Women Empowerment</h3>
                        <p>We honour the power of women and try our best to empower women in various ways to sustain herself in different walks of life. Our CSR initiatives aim at educating a girl child, encouraging the entrepreneurial spirit of women, economic
                            empowerment, and help in creating employment opportunities for the needy. We also support them with financial assistance by way of loans and grants.</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid csrInHouse">
    <div class="container csrInHouseContainer">
        <div class="inHouseWrapper">
            <h3 class="inHouse-title">In-House Initiatives</h3>
            <ul>
                <li class="inhouse inhouseWellness">
                    <div class="inhouseImage">
                        <a href="javascript:void(0);">
                            <img alt="wellness-img" src="../../../../assets/images/whowearemodule/csr/initiative/wellness-img.jpg">
                        </a>
                    </div>
                    <div class="inhouseInfo">
                        <p><a href="javascript:void(0);">Revealing the secret of becoming a healthier you; nurture body, mind, soul, spirit</a></p>
                        <h3><a href="javascript:void(0);">Wellness</a></h3>
                    </div>
                </li>
                <li class="inhouse inhouseFoundation">
                    <div class="inhouseImage">
                        <a href="javascript:void(0);">
                            <img alt="wellness-img" src="../../../../assets/images/whowearemodule/csr/initiative/foundation-img.jpg">
                        </a>
                    </div>
                    <div class="inhouseInfo">
                        <p><a href="javascript:void(0);">Giving back to the society; doing more than serving the needs of customers and shareholders</a></p>
                        <h3><a href="javascript:void(0);">Foundation</a></h3>
                    </div>
                </li>
                <li class="inhouse inhouseCollaboration">
                    <div class="inhouseImage">
                        <a href="javascript:void(0);">
                            <img alt="wellness-img" src="../../../../assets/images/whowearemodule/csr/initiative/Employee-img.jpg">
                        </a>
                    </div>
                    <div class="inhouseInfo">
                        <p><a href="javascript:void(0);">Giving back to the society; doing more than serving the needs of customers and shareholders</a></p>
                        <h3><a href="javascript:void(0);">Foundation</a></h3>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="moreAboutNeosoftSection">
        <app-moreaboutneosoft></app-moreaboutneosoft>
    </div>
</div>


<!-- Footer section start -->
<app-footer></app-footer>
<!-- Footer section ends -->