<!-- <img src="../../../../assets/images/whowearemodule/overview/services/ux-ui/FRONT-END-DEVELOPMENT.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'UX/UI Design'" [pageName]="'What We Do'" [description]="'Adding life to Software by creating meaningful UX / UI Design'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid uxAndUi">

    <div class="container containerUxAndUi">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>
    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">
            <div class="technology">
                <h3 class="tech-heading">Technology Stack</h3>
                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <h4 class="tech-heading-col-title">Tools</h4>
                        <ul class="teck-stack-ul">
                            <li>Adobe Photoshop</li>
                            <li>Adobe XD</li>
                            <li>Axure</li>
                            <li>Adobe Illustrator</li>
                            <li>Sketch</li>
                            <li>Corel Draw</li>
                            <li>InVision</li>
                            <li>Adobe Flash</li>
                            <li>MS Visio</li>
                            <li>InDesign</li>
                            <li>Zeplin</li>
                            <li>Dreamweaver</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-second">
                        <h4 class="tech-heading-col-title">Technology / Frameworks</h4>
                        <ul class="teck-stack-ul">
                            <li>HTML / HTML 5</li>
                            <li>AngularJS</li>
                            <li>CSS / CSS 3</li>
                            <li>ReactJS</li>
                            <li>Javascript / JQuery</li>
                            <li>Vue.JS</li>
                            <li>Bootstrap</li>
                            <li>Sass</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footer section start -->
<app-footer></app-footer>
<!-- Footer section ends -->