@import "src/assets/scss/index";
.uxAndUi {
    background-color: #dcdcdc;
    .containerUxAndUi {
        .competencyWrapper {
            position: relative;
            top: -32px;
        }
    }
    .containerTechnologyStack {}
}