<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<div class="container-fluid bannerSection overview-bottom-bg bottom-gradient-bg">

    <div class="container bannerContainer">
        <div class="bannerWrapper">
            <div class="banner-breadcumb">
                <ul>
                    <li class="home">
                        <a href="javascript:void(0)"><span class="icon-home"></span></a>
                    </li>
                    <li class="company"><a href="javascript:void(0);">Company</a></li>
                    <li><strong>Our Global Presence</strong></li>
                </ul>
            </div>
            <div class="banner-content">
                <h1 class="inner-page-title">OUR GLOBAL PRESENCE</h1>
                <p class="title-description">Headquartered in Mumbai, India, we are globally spread with offices in the US, UK, Dubai, Italy, Germany, Japan & Australia</p>
            </div>
            <div class="globalMap">
                <div class="mapLocation">
                    <a class="map-locator map-locator--mumbai tooltips" href="javascript:void(0)">
                        <span class="tooltiptext">Mumbai, India</span>
                    </a>

                    <a class="map-locator map-locator--pune tooltips" href="javascript:void(0)">
                        <span class="tooltiptext">Pune, India</span>
                    </a>
                    <a class="map-locator map-locator--bangaluru tooltips" href="javascript:void(0)">
                        <span class="tooltiptext">Bangaluru, India</span>
                    </a>
                    <a class="map-locator map-locator--ahmedabad tooltips" href="javascript:void(0)">
                        <span class="tooltiptext">Ahmedabad, India</span>
                    </a>
                    <a class="map-locator map-locator--noida tooltips" href="javascript:void(0)">
                        <span class="tooltiptext">Noida, India</span>
                    </a>
                    <a class="map-locator map-locator--tokyo tooltips" href="javascript:void(0)">
                        <span class="tooltiptext">Tokyo, Japan</span>
                    </a>
                    <a class="map-locator map-locator--sydney tooltips" href="javascript:void(0)">
                        <span class="tooltiptext">Sydney, Australia</span>
                    </a>
                    <a class="map-locator map-locator--rome tooltips" href="javascript:void(0)">
                        <span class="tooltiptext">Rome, Italy</span>
                    </a>
                    <a class="map-locator map-locator--london tooltips" href="javascript:void(0)">
                        <span class="tooltiptext">London, UK</span>
                    </a>
                    <a class="map-locator map-locator--new-york tooltips" href="javascript:void(0)">
                        <span class="tooltiptext">New York, USA</span>
                    </a>
                </div>
                <img src="../../../../assets/images/whowearemodule/globalpresence/global-map-img.png" alt="global Map">
            </div>
            <div class="globalBranches">
                <div class="globalBranchesWrapper">
                    <div class="branchOffice">
                        <img src="../../../../assets/images/whowearemodule/globalpresence/mumbai-ho-image.png" alt="mumbai-ho-image">
                        <h3>MUMBAI (HO)</h3>
                        <address>124 Unique Industrial Estate,<br>Off V S Marg, Prabhadevi,<br>Mumbai - 400 025,<br>INDIA</address>
                    </div>
                    <div class="branchOffice">
                        <img alt="prabhadevi-image" src="../../../../assets/images/whowearemodule/globalpresence/prabhadevi-image.png">
                        <h3>MUMBAI (Prabhadevi)</h3><address>8th, 9th &amp; 10th Floor,<br>Business Arcade Tower,<br>Plot no- 584, Sayani Rd,<br>Opp Parel Bus Depot,<br>Dighe Nagar, Prabhadevi,<br>Mumbai - 400 025,<br>INDIA</address>
                    </div>
                    <div class="branchOffice">
                        <img alt="mumbai-image" src="../../../../assets/images/whowearemodule/globalpresence/mumbai-image.png">
                        <h3>MUMBAI (Registered Office)</h3><address>124 Unique Industrial Estate,<br>Off V S Marg, Prabhadevi,<br>Mumbai - 400 025,<br>INDIA</address>
                    </div>

                    <div class="branchOffice">
                        <img alt="navi-mumbai-image" src="../../../../assets/images/whowearemodule/globalpresence/navi-mumbai-image.png">
                        <h3>NAVI MUMBAI</h3><address>501, Sigma IT Park,<br>203 &amp; 204, Rabale TTC Industrial Area,<br>Behind Dhirubhai Life Science,<br>Thane Belapur Road, Rabale,<br>Navi Mumbai - 400 701,<br>INDIA</address>
                    </div>

                    <div class="branchOffice">
                        <img alt="pune-image" src="../../../../assets/images/whowearemodule/globalpresence/pune-image.png">
                        <h3>PUNE</h3><address>NTPL SEZ (Blueridge),<br>IT6, 1st Floor,<br>Rajiv Gandhi - Infotech Park,<br>Phase-I, Hinjewadi,<br>Pune - 411057,<br>INDIA</address>
                    </div>


                    <div class="branchOffice">
                        <img alt="bengaluru-image" src="../../../../assets/images/whowearemodule/globalpresence/bengaluru-image.png">
                        <h3>BENGALURU</h3><address>91 Spring board,<br>4th Floor, No. 22, 5th Block,<br>Salarpuria Towers - I, Hosur Road,<br>Koramangala Bengaluru -560095,<br>INDIA</address>
                    </div>
                    <div class="branchOffice">
                        <img alt="ahmedabad-image" src="../../../../assets/images/whowearemodule/globalpresence/ahmedabad-image.png">
                        <h3>AHMEDABAD</h3><address>1802, Westgate, Makarba,<br>S G Highway, Ahmedabad - 380015,<br>INDIA</address>
                    </div>
                    <div class="branchOffice">
                        <img alt="noida-image" src="../../../../assets/images/whowearemodule/globalpresence/noida-image.png">
                        <h3>NOIDA</h3><address>A-130, A Block,<br>Sector 63, Noida,<br>Uttar Pradesh - 201301,<br>INDIA</address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->