<!-- <img src="../../../../assets/images/whowearemodule/overview/services/mobile-app-dev/mobile-app-marketing.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'enterprsie mobility'" [pageName]="'What We Do'" [description]="'Harness the power of a mobile-first journey with industry-specific solutions'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid mobileAppDev">

    <div class="container containerCompetencyMobile">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>
    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">
            <div class="technology">
                <h3 class="tech-heading">Technology Stack</h3>
                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <h4 class="tech-heading-col-title">Native <br/> Platforms</h4>
                        <ul class="teck-stack-ul">
                            <li>iOS</li>
                            <li>Android</li>
                            <li>Windows</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-second">
                        <h4 class="tech-heading-col-title">Hybrid <br/> Platforms</h4>
                        <ul class="teck-stack-ul">
                            <li>Phonegaps</li>
                            <li>Iconic</li>
                            <li>Sencha Touch</li>
                            <li>Jquery Mobile</li>
                            <li>Framework 7</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-third">
                        <h4 class="tech-heading-col-title">Cross <br/> Platforms</h4>
                        <ul class="teck-stack-ul">
                            <li>Xamarin</li>
                            <li>React Native </li>
                            <li>Flutter</li>
                            <li>Appcelerator</li>
                            <li>Titanium</li>
                            <li>Kony</li>
                            <li>IBM Worklight</li>

                        </ul>

                    </div>
                    <div class="tech-stack-col-forth">
                        <h4 class="tech-heading-col-title">Programming <br/>Languages</h4>
                        <ul class="teck-stack-ul">
                            <li>Objective C</li>
                            <li>Swift</li>
                            <li>Java</li>
                            <li>Kotlin</li>
                            <li>Javascript</li>
                            <li>C#</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->