<!-- <img src="../../../../assets/images/whowearemodule/overview/services/blockchain/Testing.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'Blockchain'" [pageName]="'What We Do'" [description]="'Deciphering Blockchain and building sustainable and robust custom solutions'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid blockChain">

    <div class="container containerBlockChain">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>

    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">
            <div class="technology">
                <h3 class="tech-heading">Technology Stack</h3>
                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <h4 class="tech-heading-col-title">Frameworks</h4>
                        <ul class="teck-stack-ul">
                            <li>Bitcoin</li>
                            <li>Multichain</li>
                            <li>Corda</li>
                            <li>NXT</li>
                            <li>Ethereum</li>
                            <li>Fabric</li>
                            <li>Parity</li>
                            <li>R3</li>
                            <li>Hyperledger</li>
                            <li>Sawtooth</li>
                            <li>Exonum</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->