@import "src/assets/scss/index";
.blockChain {
    background-color: #dcdcdc;
    .containerBlockChain {
        .competencyWrapper {
            position: relative;
            top: -32px;
        }
    }
    .containerTechnologyStack {}
}