<!-- banner section start -->
<div class="container-fluid bannerSection overview-bottom-bg bottom-gradient-bg">
    <div class="container bannerContainer">
        <div class="bannerWrapper">
            <div class="banner-breadcumb">
                <ul>
                    <li class="home">
                        <a href="javascript:void(0)"><span class="icon-home"></span></a>
                    </li>
                    <li class="company"><a href="javascript:void(0);">Hire IOS Developer</a></li>
                    <!-- <li><strong>Hire IOS Developer</strong></li> -->
                </ul>
            </div>
            <div class="banner-content">
                <h1 class="inner-page-title">Hire IOS Developer</h1>
                <p class="title-description">Skills, Processes & Commitment - which you need</p>
            </div>
        </div>
    </div>
</div>
<!-- banner section ends -->


<div class="container-fluid hireContainerFluidSection">
    <div class="container techTopBoxes">
        <div class="techTopBoxesWrapper">
            <div class="techBoxFirst">
                <h4 class="box-heading">What we do in iOS</h4>
                <div class="techList">
                    <ul class="techUl">
                        <li>Custom iPhone/iPad App Development</li>
                        <li>Enterprise Mobility Solutions - Mobile Sales App, Field Service App, Logistic & Fleet Management App, Mobile CRM App, Document Management on Mobile, etc</li>
                        <li>M-Commerce Apps</li>
                        <li>Finance / Banking Apps</li>
                        <li>Media & Entertainment Apps</li>
                        <li>Healthcare Apps</li>
                        <li>Social Media Apps</li>
                        <li>Chat / Messaging Apps</li>
                        <li>Augmented Reality Apps</li>
                        <li>GEO Location / GPS Based Apps</li>
                        <li>Wearable Devices Apps</li>
                        <li>Game Development</li>
                        <li>Application Porting</li>
                        <li>Bug Fixing, Support, Maintenance & Enhancements in existing app</li>
                        <li>App Testing & QA</li>
                    </ul>
                </div>
            </div>
            <div class="techBoxSecond">
                <div class="imgIcon">
                    <img src="../../../../assets/images/whowearemodule/hire/zendframework_1.png" alt="sharepoint">
                </div>
                <h5 class="text-center">Hire Dedicated<br>Zend Developers</h5>
                <p>Hire a dedicated team of any size (either offshore OR onsite OR hybrid as per your needs) for creating new applications, maintaining OR upgrading existing applications.</p>
                <ul class="techUlBoxSecond">
                    <li>Low Cost</li>
                    <li>No Hidden Cost</li>
                    <li>Scalable</li>
                    <li>On Demand</li>
                    <li>Flexibility</li>
                    <li><a href="javascript:void(0)">More</a></li>
                </ul>

            </div>

            <div class="techBoxThird">
                <h4 class="box-heading">What we do in iOS</h4>
                <div class="techList">
                    <ul class="techUl">
                        <li>Custom iPhone/iPad App Development</li>
                        <li>Enterprise Mobility Solutions - Mobile Sales App, Field Service App, Logistic & Fleet Management App, Mobile CRM App, Document Management on Mobile, etc</li>
                        <li>M-Commerce Apps</li>
                        <li>Finance / Banking Apps</li>
                        <li>Media & Entertainment Apps</li>
                        <li>Healthcare Apps</li>
                        <li>Social Media Apps</li>
                        <li>Chat / Messaging Apps</li>
                        <li>Augmented Reality Apps</li>
                        <li>GEO Location / GPS Based Apps</li>
                        <li>Wearable Devices Apps</li>
                        <li>Game Development</li>
                        <li>Application Porting</li>
                        <li>Bug Fixing, Support, Maintenance & Enhancements in existing app</li>
                        <li>App Testing & QA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container engagementModel">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
           Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>