<!-- header section here -->
<app-header></app-header>
<!-- header section here -->

<!-- banner section start -->
<div class="container-fluid bannerSection overview-bottom-bg bottom-gradient-bg">
    <div class="container bannerContainer">
        <div class="bannerWrapper">
            <div class="banner-breadcumb">
                <ul>
                    <li class="home">
                        <a href="javascript:void(0)"><span class="icon-home"></span></a>
                    </li>
                    <li class="company"><a href="javascript:void(0);">Quick Links</a></li>
                    <li><strong>Development Model</strong></li>
                </ul>

            </div>
            <div class="banner-content">
                <h1 class="inner-page-title">DEVELOPMENT MODELS</h1>
                <p class="title-description">A software development methodology in software engineering is a framework that is used to structure, plan, & control the process of developing a software product. There are many methodologies which are being used by the different software
                    development companies nowadays. There are certain advantages & disadvantages associated with each of them, so it need to be selected as per project requirements. Below are 6 development methodologies we use for our clients, each model
                    is further fine-tuned for a specific client engagement depending on the needs, time available & their documentation practices.</p>
                <!-- <p class="author">-Winston Churchill</p> -->
            </div>
        </div>
    </div>
</div>
<!-- banner section ends -->

<div class="container-fluid devSection">
    <div class="container devContainer">
        <div class="devWrapper">
            <div class="devModelGrid">
                <div class="devSubGrid">
                    <img alt="" src="https://images.neosofttech.com/sites/all/themes/neosoft2017/images/development-model/waterfall.svg">
                    <h3>Waterfall</h3>
                </div>
                <div class="devSubGrid">
                    <img alt="" src="https://images.neosofttech.com/sites/all/themes/neosoft2017/images/development-model/Agile-Scrum.svg">
                    <h3>Agile Scrum</h3>
                </div>
                <div class="devSubGrid">
                    <img alt="" src="https://images.neosofttech.com/sites/all/themes/neosoft2017/images/development-model/Kanban.svg">
                    <h3>Kanban</h3>
                </div>
                <div class="devSubGrid">
                    <img alt="" src="https://images.neosofttech.com/sites/all/themes/neosoft2017/images/development-model/Extreme-Programming.svg">
                    <h3>Extreme Programming (XP)</h3>
                </div>
                <div class="devSubGrid">
                    <img alt="" src="https://images.neosofttech.com/sites/all/themes/neosoft2017/images/development-model/Spiral.svg">
                    <h3>Spiral</h3>
                </div>
                <div class="devSubGrid">
                    <img alt="" src="https://images.neosofttech.com/sites/all/themes/neosoft2017/images/development-model/RAD.svg">
                    <h3>Rapid Application Development (RAD)</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->