<!-- <img src="../../../../assets/images/whowearemodule/overview/services/software-consulting/TECHNOLOGIES-PLATFORMS-INFRASTRUCTURE-SELECTION.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'Software Consulting'" [pageName]="'What We Do'" [description]="'We connect strategy, technology, and design to deliver business-changing results'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid softwareConsulting">

    <div class="container containerSoftwareConsulting">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>
    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">
            <div class="technology">
                <h3 class="tech-heading">Technology Stack</h3>
                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <h4 class="tech-heading-col-title">Tools</h4>
                        <ul class="teck-stack-ul">
                            <li>Axure</li>
                            <li>MS Visio</li>
                            <li>Adobe Illustrator</li>
                            <li>Sketch</li>
                            <li>Balsamiq</li>
                            <li>Zeplin</li>
                            <li>InVision</li>
                            <li>Adobe Photoshop </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footer section start -->
<app-footer></app-footer>
<!-- Footer section ends -->