<!-- <img src="../../../../assets/images/whowearemodule/overview/services/devops/SmarterEnvironments.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'DevOps'" [pageName]="'What We Do'" [description]="'Bridging the gap between IT Development and Operations for seamless project delivery'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid devOps">

    <div class="container containerDevOps">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>

    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">

        </div>
    </div>

</div>