<!-- <img src="../../../../assets/images/whowearemodule/overview/services/devops/SmarterEnvironments.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'DevOps'" [pageName]="'What We Do'" [description]="'Bridging the gap between IT Development and Operations for seamless project delivery'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid devOps">

    <div class="container containerDevOps">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>

    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">
            <div class="technology">
                <h3 class="tech-heading">Technology Stack</h3>
                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <h4 class="tech-heading-col-title">Tools</h4>
                        <ul class="teck-stack-ul">
                            <li>Nagios</li>
                            <li>Puppet</li>
                            <li>Docker</li>
                            <li>Monit</li>
                            <li>Kubernetes</li>
                            <li>Vault</li>
                            <li>Jenkins</li>
                            <li>Vagrant</li>
                            <li>Ansible</li>
                            <li>Gradle</li>
                            <li>Bamboo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Footer section start -->
<app-footer></app-footer>
<!-- Footer section ends -->