<!-- <img src="../../../../assets/images/whowearemodule/overview/services/web-dev/Portal.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'cloud computing'" [pageName]="'What We Do'" [description]="'Drive innovation & lower the costs with agile & scalable cloud solutions'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid webDev">

    <div class="container containerWeb">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>

    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">
            <div class="technology">
                <h3 class="tech-heading">Technology Stack</h3>
                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <h4 class="tech-heading-col-title">Programming <br/> Languages</h4>
                        <ul class="teck-stack-ul">
                            <li>PHP</li>
                            <li>Java</li>
                            <li>Ruby</li>
                            <li>Python</li>
                            <li>Coldfusion</li>
                            <li>Scala</li>
                            <li>R</li>
                            <li>Classic ASP</li>
                            <li>VB</li>
                            <li>C#</li>
                            <li>Javascript</li>
                            <li>HTML/CSS/XML</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-second">
                        <h4 class="tech-heading-col-title">PHP Frameworks</h4>
                        <ul class="teck-stack-ul">
                            <li>Laravel</li>
                            <li>Yii</li>
                            <li>Zend</li>
                            <li>Cake PHP</li>
                            <li>Sympfony</li>
                            <li>CodeIgniter</li>
                            <li>Kohana</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-third">
                        <h4 class="tech-heading-col-title">Java Frameworks</h4>
                        <ul class="teck-stack-ul">
                            <li>Spring</li>
                            <li>Spring Boot</li>
                            <li>Strut</li>
                            <li>Vaadin</li>
                            <li>JSF</li>
                            <li>Java Hibernate</li>
                            <li>Java EJB</li>
                            <li>Mybatis</li>
                            <li>Seam</li>
                            <li>ZK Frameworks</li>
                        </ul>

                    </div>
                    <div class="tech-stack-col-forth">
                        <h4 class="tech-heading-col-title">Javascript Frameworks</h4>
                        <ul class="teck-stack-ul">
                            <li>Angular JS</li>
                            <li>React</li>
                            <li>Vue.js</li>
                            <li>Node.js</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-fifth">
                        <h4 class="tech-heading-col-title">Python Frameworks</h4>
                        <ul class="teck-stack-ul">
                            <li>Django</li>
                            <li>Flask</li>
                            <li>Pyramid</li>

                        </ul>
                    </div>
                </div>

                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <h4 class="tech-heading-col-title">CMS</h4>
                        <ul class="teck-stack-ul">
                            <li>Drupal</li>
                            <li>Wordpress</li>
                            <li>Joomla</li>
                            <li>Typo3</li>
                            <li>MS Sharepoint</li>
                            <li>Liferay</li>
                            <li>Dotnetnuke</li>
                            <li>Kentico</li>
                            <li>Sitefinity</li>
                            <li>Sitecore</li>
                            <li>Umbraco</li>
                            <li>Alfresco</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-second">
                        <h4 class="tech-heading-col-title">E-Commerce</h4>
                        <ul class="teck-stack-ul">
                            <li>Magento</li>
                            <li>OSCommerce</li>
                            <li>Opencart</li>
                            <li>Prestashop</li>
                            <li>Zencart</li>
                            <li>AspDotNetStoreFront</li>
                            <li>Shopify</li>
                            <li>NopCommerce</li>
                            <li>WooCommerce</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-third">
                        <h4 class="tech-heading-col-title">CRM</h4>
                        <ul class="teck-stack-ul">
                            <li>Salesforce</li>
                            <li>SugarCRM</li>
                            <li>vTiger</li>
                            <li>Sage CRM</li>
                            <li>MS Dynamic</li>
                            <li>Net Suite</li>
                        </ul>

                    </div>
                    <div class="tech-stack-col-forth">
                        <h4 class="tech-heading-col-title">ERP</h4>
                        <ul class="teck-stack-ul">
                            <li>SAP</li>
                            <li>SAP HANA</li>
                            <li>SAP Business One</li>
                            <li>Microsoft Dynamics</li>
                            <li>Office 365</li>
                            <li>Micosoft Sharepoint</li>
                            <li>Odoo</li>
                            <li>Oracle ERP</li>
                            <li>Salesforce</li>
                            <li>Liferay</li>
                            <li>NetSuite</li>
                            <li>Tally ERP</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-fifth">
                        <h4 class="tech-heading-col-title">Databases (RDBMS / NoSQL)</h4>
                        <ul class="teck-stack-ul">
                            <li>MS SQL</li>
                            <li>Oracle</li>
                            <li>MySQL</li>
                            <li>PostgreSQL</li>
                            <li>SqlLite</li>
                            <li>MariaDB</li>
                            <li>MS ACCESS</li>
                            <li>MongoDB</li>
                            <li>Neo4j</li>
                            <li>Neo4j</li>
                            <li>Memcache</li>
                            <li>Hadoop / HBase</li>
                            <li>Amazon DynamoDB</li>
                            <li>Amazon Redshift</li>
                            <li>Apache Cassandra</li>
                            <li>Apache CouchDB</li>
                            <li>Apache Flink</li>
                            <li>Apache Hive</li>
                            <li>IBM Informix</li>
                            <li>Cloudera</li>
                            <li>Cloudata</li>
                            <li>Couchbase</li>
                            <li>IBM Informix</li>
                            <li>Raven DB</li>
                            <li>ReThink DB</li>
                            <li>Microsoft Azure</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->