<div class="container containerServices">
    <div class="overview-service-content">
        <h3 class="inner-section-title">NeoSOFT provides a wide range of services</h3>
        <div class="overview-services">
            <ul>
                <li routerLink="/mobileappdevelopment">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-mobile-icon.png" alt="mobileappdevelopment">
                    </div>
                    <div class="content-block">
                        <h4>Mobile Applications</h4>
                        <p>Harness the power of a mobile-first journey with industry-specific solutions</p>
                    </div>
                </li>

                <li routerLink="/webdevelopment">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-web-icon.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>Web Development</h4>
                        <p>Design & Develop - Robust, Scalable & Industry specific Products / Solutions</p>
                    </div>
                </li>

                <li routerLink="/cloudcomputing">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-cloud-icon.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>Cloud Computing</h4>
                        <p>Drive innovation &amp; lower the costs with agile &amp; scalable cloud solutions</p>
                    </div>
                </li>

                <li routerLink="/aiandml">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-ai-ml-icon.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>AI & ML</h4>
                        <p>Building and Fueling Intelligent Businesses</p>
                    </div>
                </li>
                <li routerLink="/analyticsbigdata">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-data-icon.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>Analytics and Big Data</h4>
                        <p>Extract VALUE from data THAT MATTERS</p>
                    </div>
                </li>

                <li routerLink="/iot">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-data-icon.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>Internet of Things (IoT)</h4>
                        <p>Leverage sensor technology through integration with business applications</p>
                    </div>
                </li>

                <li routerLink="/blockchain">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-blockchain-icon.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>Blockchain</h4>
                        <p>Deciphering Blockchain and building sustainable and robust custom solutions</p>
                    </div>
                </li>
                <li routerLink="/devops">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/DevOps-Service-block-icon.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>DevOps</h4>
                        <p>Bridging the gap between IT Development and Operations for seamless project delivery</p>
                    </div>
                </li>

                <li routerLink="/qa-and-testing">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-testing-icon.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>QA &amp; Testing</h4>
                        <p>Manual as well as Automated software testing services</p>
                    </div>
                </li>

                <li routerLink="/sap">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/sap-overview.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>SAP</h4>
                        <p>Unified solutions to gain a competitive advantage</p>
                    </div>
                </li>

                <li routerLink="/ux-ui">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-ux-ui-icon.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>UX / UI Design</h4>
                        <p>Adding life to Software by creating meaningful UX / UI Design</p>
                    </div>
                </li>


                <li routerLink="/softwareconsulting">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-software-consulting-icon.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>Software Consulting</h4>
                        <p>We connect strategy, technology, and design to deliver business-changing results.</p>
                    </div>
                </li>


                <li routerLink="/internetmarketing">
                    <div class="img-block">
                        <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-marketing-icon.png" alt="">
                    </div>
                    <div class="content-block">
                        <h4>Internet Marketing</h4>
                        <p>Influence and engagement, not just coverage</p>
                    </div>
                </li>

            </ul>
        </div>
        <div class="overview-services-second">
            <ul>
                <li class="product-engineering-content">
                    <h4> <span> END-TO-END </span> <br> PRODUCT ENGINEERING</h4>
                    <p>Product Engineering Excellence - building next-generation Products, Platforms &amp; Experiences that connects with your customers</p>
                    <div class="overview-more-info"> <a routerLink="/end-to-end-product-engineering">+</a></div>
                </li>
                <li class="digi-info-content">
                    <h4>ENTERPRISE DIGITAL <br> TRANSFORMATION</h4>
                    <p>Transforming businesses by developing products, services &amp; experiences</p>
                    <div class="overview-more-info"> <a routerLink="/enterprise-digital-transformation">+</a></div>
                </li>
                <li class="team-augmentation-content">
                    <h4>Team Augmentation</h4>
                    <p>Skills, Processes &amp; Commitment - which you need</p>
                    <ul class="team-augmentation-list">
                        <li>Resource as a Service (
                            <h2>Offshore, Onsite &amp; Hybrid</h2>)</li>
                        <li>ODC / BOT</li>
                    </ul>
                    <div class="overview-more-info">
                        <a routerLink="/team-augmentaion">+</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>