<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'clientele'" [pageName]="'Company'" [description]="'They trust us and we keep giving them reasons to.'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid clientList">
    <div class="container clientListContainer">
        <div class="clientListWrapper">
            <h3 class="clientele-title"> <span class="primary">OVER 1500 CLIENTS</span> IN 20 COUNTRIES</h3>
            <ul class="clienteleUlList">
                <ng-container *ngFor="let clientele of clienteleArray">
                    <li>
                        <img [src]="clientele.imgUrl" [alt]="clientele.imgAlt">
                    </li>
                </ng-container>
                <li class="more-client">
                    <a href="javascript:void(0)">+ More</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->