@import "src/assets/scss/index";
// .right-arrow-sign {
//     background-image: url(../../../../assets/images/whowearemodule/accordian/accordion-arrow.png);
// }
// .close-sign {
//     background-image: url(../../../../assets/images/whowearemodule/accordian/accordion-close.png);
// }
.competenciesEngagement {
    background-color: #fff;
    margin-bottom: 8px;
    .competenciesEngWrapper {
        .engagementHeader {
            width: 100%;
            display: flex;
            border: 1px solid red;
            // background-color: grey;
            .colFirstWrapper {
                width: 90%;
                display: flex;
                align-items: center;
                height: auto;
                padding: 22.23px 27.82px;
                background-color: #ffffff;
                .title {
                    width: 35%;
                    text-transform: uppercase;
                    font-size: 20.02px;
                    color: #2f3030;
                }
                .decscription {
                    width: 65%;
                    h2 {
                        font-size: 1.14rem;
                        font-weight: 400;
                        margin-bottom: 0;
                        color: #2f3030;
                    }
                }
            }
            .colSeocndWrapper {
                width: 10%;
                display: flex;
                justify-content: center;
                height: auto;
                padding: 22.23px 27.82px;
                background-color: #ffbc46;
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 26px;
                }
            }
        }
        .engagementbody {}
    }
}