@import "src/assets/scss/index";
.right-arrow-sign {
    background-image: url(../../../../assets/images/whowearemodule/accordian/accordion-arrow.png);
}

.close-sign {
    background-image: url(../../../../assets/images/whowearemodule/accordian/accordion-close.png);
}

.competencies {
    background-color: #fff;
    margin-bottom: 8px;
    padding: 0px;
    .competenciesWrapper {
        // .competenciesHeader {
        //     .row {
        //         background-color: #fff;
        //         .colFirst {
        //             display: flex;
        //             align-items: center;
        //             height: auto;
        //             padding: 22.23px 27.82px;
        //             .title {
        //                 text-transform: uppercase;
        //                 font-size: 20.02px;
        //                 display: flex;
        //                 align-items: center;
        //                 height: auto;
        //                 color: #2f3030;
        //             }
        //         }
        //         .colSecond {
        //             display: flex;
        //             align-items: center;
        //             height: auto;
        //             padding: 22.23px 27.82px;
        //             .decscription {
        //                 h2 {
        //                     font-size: 1.14rem;
        //                     font-weight: 400;
        //                     margin-bottom: 0;
        //                     color: #2f3030;
        //                 }
        //             }
        //         }
        //         .colThird {
        //             padding: 22.23px 27.82px;
        //             display: flex;
        //             /* align-items: center; */
        //             justify-content: center;
        //             background-color: #ffbc46;
        //             .icon {
        //                 display: flex;
        //                 align-items: center;
        //                 justify-content: center;
        //                 color: white;
        //                 font-size: 26px;
        //             }
        //         }
        //     }
        // }
        .engagementHeader {
            width: 100%;
            display: flex;
            // border: 1px solid red;
            // background-color: grey;
            .colFirstWrapper {
                width: 90%;
                display: flex;
                align-items: center;
                height: auto;
                padding: 22.23px 27.82px;
                background-color: #ffffff;
                @media (max-width: 767.98px) {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                }
                .title {
                    width: 35%;
                    text-transform: uppercase;
                    font-size: 20.02px;
                    color: #2f3030;
                    @media (max-width: 767.98px) {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                    }
                }
                .decscription {
                    width: 65%;
                    padding: 0 40px;
                    @media (max-width: 767.98px) {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        padding: 0 0px;
                    }
                    h2 {
                        font-size: 1.14rem;
                        font-weight: 400;
                        margin-bottom: 0;
                        color: #2f3030;
                    }
                }
            }
            .colSeocndWrapper {
                width: 10%;
                display: flex;
                justify-content: center;
                height: auto;
                padding: 22.23px 27.82px;
                background-color: #ffbc46;
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 26px;
                }
            }
        }
        .competenciesBody {
            .row {
                padding-top: 20px;
                border-top: 1px solid #d3d3d3;
                padding-left: 16px;
                .left-col {
                    .img-box {
                        padding-right: 40px;
                        img {
                            width: 100%;
                            filter: grayscale(1);
                        }
                    }
                }
                .right-col {
                    .lists {
                        ul {
                            display: inline-block;
                            width: 100%;
                            list-style-type: none;
                            position: relative;
                            padding-top: 20px;
                            li {
                                width: 100%;
                                float: left;
                                position: relative;
                                a {
                                    font-size: 14.92px;
                                    color: #414160;
                                    line-height: 1.8rem;
                                    padding-left: 19px;
                                    display: block;
                                    &::before {
                                        content: "t";
                                        font-family: "neofont" !important;
                                        color: #e23434;
                                        position: absolute;
                                        left: 0px;
                                        top: auto;
                                        font-size: 0.8rem;
                                        font-weight: 700;
                                        vertical-align: middle;
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}