<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'Our Culture'" [pageName]="'Careers'" [description]="'Change is Constant, and together every day, we turn change into progress'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid cultureTaglineSection">
    <div class="container culturetaglineContainer">
        <div class="cultureWrapper">
            <p>We have adopted a simple philosophy of creating ‘win-win situations’ for all by being<br>the perfect ‘Digital Innovation’ partners. Our culture reflects our brand ethos and<br>helps us operate with ethics, integrity, trust and dignity with
                our partners, affiliates,<br>customers and employees.</p>
        </div>
    </div>
</div>


<div class="container-fluid cultureNeoSoftSection">
    <div class="container cultureContainer">
        <div class="cultureContentWrapper">
            <h3>Key Areas reflecting NeoSOFT Rich Work Culture</h3>
            <div class="keyFeatureTable">
                <div class="keyFeatureWays">
                    <ul class="mainHeading twoWay">
                        <li>NeoSOFT WAY</li>
                        <li>Not NeoSOFT WAY</li>
                    </ul>
                </div>
                <div class="keyFeatureWays">
                    <h5>Innovation</h5>
                    <ul class="sub-points twoWay">
                        <li>Empower with tools,<br>resources, trust and appreciation</li>
                        <li>No discrimination or bias</li>
                    </ul>
                </div>
                <div class="keyFeatureWays">
                    <h5>Empowerment</h5>
                    <ul class="sub-points twoWay">
                        <li>Opportunity to experiment<br>and innovate</li>
                        <li>Not a single ‘boring’ day</li>
                    </ul>
                </div>
                <div class="keyFeatureWays">
                    <h5>Leadership</h5>
                    <ul class="sub-points twoWay">
                        <li>Lead by demonstration and<br>proven track record</li>
                        <li>No personal or special<br>preferences</li>
                    </ul>
                </div>
                <div class="keyFeatureWays">
                    <h5>Team Collaboration</h5>
                    <ul class="sub-points twoWay">
                        <li>Unity in diversity and work in<br>synchronization</li>
                        <li>No prejudice in task delegation</li>
                    </ul>
                </div>

                <div class="keyFeatureWays">
                    <h5>Opportunities</h5>
                    <ul class="sub-points twoWay">
                        <li>Unlimited opportunities in the<br>current role with no restriction<br>to demonstrate in other areas.</li>
                        <li>Impediment of the<br>one’s deserving</li>
                    </ul>
                </div>

                <div class="keyFeatureWays">
                    <h5>Performance</h5>
                    <ul class="sub-points twoWay">
                        <li>Quantified and Rewarded</li>
                        <li>Left unmeasured</li>
                    </ul>
                </div>


            </div>

        </div>
    </div>
</div>

<div class="container-fluid moreAboutNeosoftSection">
    <div class="container moreAboutNeo">
        <div class="containerWrapper">
            <h3 class="inner-section-title">More About NeoSOFT</h3>
            <div class="row rowWrapper">
                <div class="col-lg-4 col-sm-4 colWrapper colFirst">
                    <div class="contentWrraper">
                        <div class="img-holder">
                            <a routerLink="/our-vision-mission">
                                <img src="../../../../assets/images/whowearemodule/moreaboutneosoft/Our-Vision-Mission.jpg" alt="ourvisionAndMission">
                            </a>
                            <h4><a routerLink="/our-vision-mission">our vision & mission</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 colWrapper colSecond">
                    <div class="contentWrraper">
                        <div class="img-holder">
                            <a routerLink="/our-csr-initiatives">
                                <img src="../../../../assets/images/whowearemodule/moreaboutneosoft/our-csr.jpg" alt="our-csr">
                            </a>
                            <h4><a routerLink="/our-csr-initiatives">our csr</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 colWrapper colThird">
                    <div class="contentWrraper">
                        <div class="img-holder">
                            <a routerLink="/our-dna">
                                <img src="../../../../assets/images/whowearemodule/moreaboutneosoft/our-dna.jpg" alt="ourdna">
                            </a>
                            <h4><a routerLink="/our-dna">our dna</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->