<!-- header Bar -->
<app-header></app-header>
<!-- header Bar ends -->

<div class="container-fluid bannerSection overview-bottom-bg bottom-gradient-bg marginTop">
    <div class="container bannerContainer">
        <div class="bannerWrapper">
            <div class="banner-breadcumb">
                <ul>
                    <li class="home"><a href="javascript:void(0)"><span class="icon-home"></span></a></li>
                    <li class="company"><a href="javascript:void(0);">404 Page Not Found</a></li>
                </ul>
            </div>
            <div class="banner-content">
                <h1 class="inner-page-title">404 Page Not Found</h1>
            </div>
        </div>
    </div>
</div>

<!-- footer Componnent -->
<app-footer></app-footer>
<!-- footer Componnent -->