<!-- <img src="../../../../assets/images/whowearemodule/overview/services/qa-testing/Test-Automation.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'QA & TESTING'" [pageName]="'What We Do'" [description]="'We believe that Software Product must SOLVE problem(s).'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid qaAanTesting">

    <div class="container containerQaTesting">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listHeadingFirst]="prod.listHeadingFirst" [listHeadingSecond]="prod.listHeadingSecond"
                    [listHeadingThird]="prod.listHeadingThird" [listHeadingForth]="prod.listHeadingForth" [listHeadingFifth]="prod.listHeadingFifth" [listHeadingSix]="prod.listHeadingSix" [listHeadingSeven]="prod.listHeadingSeven" [listHeadingEight]="prod.listHeadingEight"
                    [listHeadingNine]="prod.listHeadingNine" [listTitleFirst]="prod.listTitleFirst" [listTitleSecond]="prod.listTitleSecond" [listTitleThird]="prod.listTitleThird" [listTitleForth]="prod.listTitleForth" [listTitleFifth]="prod.listTitleFifth"
                    [listTitleSix]="prod.listTitleSix" [listTitleSeven]="prod.listTitleSeven" [listTitleEight]="prod.listTitleEight" [listTitleNine]="prod.listTitleNine" [posts]="prod.posts" [postsSecond]="prod.postsSecond" [postsThird]="prod.postsThird"
                    [postsForth]="prod.postsForth" [postsFifth]="prod.postsFifth" [postsSix]="prod.postsSix" [postsSeven]="prod.postsSeven" [postsEight]="prod.postsEight" [postsNine]="prod.postsNine" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"
                    [moreInfoParaFirst]="prod.moreInfoParaFirst" [moreInfoParaSecond]="prod.moreInfoParaSecond" [moreInfoParaThird]="prod.moreInfoParaThird" [moreInfoParaForth]="prod.moreInfoParaForth" [moreInfoParaFifth]="prod.moreInfoParaFifth" [moreInfoParaSix]="prod.moreInfoParaSix"
                    [moreInfoParaSeven]="prod.moreInfoParaSeven" [moreInfoParaEight]="prod.moreInfoParaEight" [moreInfoParaNine]="prod.moreInfoParaNine">
                </app-competencies-services>
            </ng-container>
        </div>
    </div>

    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">
            <div class="technology">
                <h3 class="tech-heading">Technology Stack</h3>
                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <h4 class="tech-heading-col-title">Performance & <br/>Load Testing Tools</h4>
                        <ul class="teck-stack-ul">
                            <li>Apache JMeter</li>
                            <li>HP LoadRunner</li>
                            <li>HP StormRunner</li>
                            <li>NeoLoad</li>
                            <li>LoadImpact</li>
                            <li>WebLOAD</li>
                            <li>LoadUI NG Pro</li>
                            <li>LoadView</li>
                            <li>AppLoader</li>
                            <li>Appvance</li>
                            <li>SmartMeter.io</li>
                            <li>Rational performance tester</li>
                            <li>LoadComplete</li>
                            <li>LoadStorm</li>
                            <li>Httperf</li>
                            <li>BlazeMeter</li>
                            <li>Load Multiplier</li>
                            <li>Loader.io</li>

                        </ul>
                    </div>
                    <div class="tech-stack-col-second">
                        <h4 class="tech-heading-col-title">Security Testing<br/>Tools</h4>
                        <ul class="teck-stack-ul">
                            <li>SQLMap</li>
                            <li>Websecurify</li>
                            <li>Safe3 Scanner</li>
                            <li>Samurai Framework</li>
                            <li>Nikto</li>
                            <li>Aircrack</li>
                            <li>OpenVAS</li>
                            <li>Metasploit</li>
                            <li>Nmap</li>
                            <li>Wireshark</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-third">
                        <h4 class="tech-heading-col-title">Bug Reporting<br/>Tools</h4>
                        <ul class="teck-stack-ul">
                            <li>Atlassian JIRA</li>
                            <li>Mantis</li>
                            <li>Bugzilla</li>
                            <li>Plutora Test</li>
                            <li>Backlog</li>
                            <li>Trac</li>
                            <li>Redmine</li>
                            <li>HP ALM</li>
                            <li>FogBugz</li>
                            <li>IBM Rational <br>ClearQuest</li>
                            <li>Lighthouse</li>
                            <li>BugNET</li>
                            <li>eTraxis</li>
                            <li>Team foundation server</li>

                        </ul>
                    </div>
                    <div class="tech-stack-col-forth">
                        <h4 class="tech-heading-col-title">Automation Testing Tools</h4>
                        <ul class="teck-stack-ul">
                            <li>Appium</li>
                            <li>MonkeyTalk</li>
                            <li>Robotium</li>
                            <li>UI Automator</li>
                            <li>Selenium</li>
                            <li>Cucumber</li>
                            <li>Silk Test </li>
                            <li>Eggplant</li>
                            <li>RSpec</li>

                        </ul>
                    </div>
                    <div class="tech-stack-col-fifth">
                        <h4 class="tech-heading-col-title">Programming <br/>Languages</h4>
                        <ul class="teck-stack-ul">
                            <li>C/C++</li>
                            <li>Java</li>
                            <li>SQL</li>
                            <li>Python</li>
                            <li>Perl</li>
                            <li>XML</li>
                            <li>HTML / CSS</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footer section start -->
<app-footer></app-footer>
<!-- Footer section ends -->