<!-- header section here -->
<app-header></app-header>
<!-- header section here -->

<div class="container-fluid directoriesSharedSection marginTop">
    <div class="container blogBreadcrumb">
        <div class="wrapperblogBreadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><span class="icon-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="#">Blog</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Docker is emerging as the future of application delivery</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="conatiner directoriesHeading">
        <div class="directoriesHeadingWrapper">
            <h2 class="directories-title">Blogs</h2>
        </div>
    </div>
    <div class="container blogs">
        <div class="blogsWrapper">
            <div class="blog-detail-image">
                <img src="../../../../assets/images/whowearemodule/blogs/Tech-Startups-detail.png" alt="Tech-Startups-detail">
                <p class="blog-details-date"> <span class="blog-date">28 November, 2017</span> <span class="blog-date-icon"></span></p>
            </div>
            <div class="blogDetails">
                <div class="blog-detail-title">
                    <h3 class="blog-title">Docker is emerging as the future of application delivery</h3>
                </div>
                <div class="blogDescriptions">
                    <p class="commonParagraph">This is a discussion on the role of Docker in software development and how it scores over virtual machines. As it becomes increasingly popular, let’s look at what the future holds for Docker.</p>
                    <p class="commonParagraph">This is a discussion on the role of Docker in software development and how it scores over virtual machines. As it becomes increasingly popular, let’s look at what the future holds for Docker.</p>
                    <p class="commonParagraph">This is a discussion on the role of Docker in software development and how it scores over virtual machines. As it becomes increasingly popular, let’s look at what the future holds for Docker.</p>
                    <p class="commonParagraph">This is a discussion on the role of Docker in software development and how it scores over virtual machines. As it becomes increasingly popular, let’s look at what the future holds for Docker.</p>
                    <p class="commonParagraph"><strong>This is a discussion on the role of Docker</strong></p>
                    <p class="commonParagraph"><em><strong>This is a discussion on the role of Docker</strong></em></p>
                    <p class="commonParagraph"><strong>Structure of data:</strong> The structure of the data basically decides how we need to store and retrieve it. As our applications deal with data present in a variety of formats, selecting the right database should include picking
                        the right data structures for storing and retrieving the data. If we do not select the right data structures for persisting our data, our application will take more time to retrieve data from the database, and will also require
                        more development efforts to work around any data issues.</p>
                    <ul class="bullet-list">
                        <li>Amazon Web Services</li>
                        <li>Microsoft Azure</li>
                        <li>Digital Ocean</li>
                        <li>Exoscale</li>
                        <li>Google Compute Engine</li>
                        <li>OpenStack</li>
                        <li>Rackspace</li>
                        <li>IBM Softlayer</li>
                        <li>Packet.net</li>
                    </ul>
                    <div class="blog-content-img">
                        <img alt="" class="responsive-img" src="../../../../assets/images/whowearemodule/blogs/Figure-1-Docker-on-Cloud9.jpg">
                    </div>
                    <div class="blog-content-img">
                        <img alt="" class="responsive-img" src="../../../../assets/images/whowearemodule/blogs/Figure-1-Docker-on-Cloud9.jpg">
                    </div>

                    <div class="blog-pagination">
                        <a href="javascript:void(0)"><i class="icon-left-open-big"></i></a>
                        <a href="javascript:void(0)"><i class="icon-right-open-big"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->