<div class="container moreAboutNeo">
    <div class="containerWrapper">
        <h3 class="inner-section-title">More About NeoSOFT</h3>
        <div class="row rowWrapper">
            <div class="col-lg-4 col-sm-4 colWrapper colFirst">
                <div class="contentWrraper">
                    <div class="img-holder">
                        <a href="">
                            <img src="../../../../assets/images/whowearemodule/moreaboutneosoft/Our-Vision-Mission.jpg" alt="">
                        </a>
                        <h4><a href="javascript:void(0)">our vision & mission</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 colWrapper colSecond">
                <div class="contentWrraper">
                    <div class="img-holder">
                        <a href="">
                            <img src="../../../../assets/images/whowearemodule/moreaboutneosoft/our-dna.jpg" alt="">
                        </a>
                        <h4><a href="javascript:void(0)">our dna</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 colWrapper colThird">
                <div class="contentWrraper">
                    <div class="img-holder">
                        <a href="">
                            <img src="../../../../assets/images/whowearemodule/moreaboutneosoft/our-culture.jpg" alt="">
                        </a>
                        <h4><a href="javascript:void(0)">our culture</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>