<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'overview'" [description]="'A Digital Experience Company, One-Stop shop for all your Digital needs'">
</app-banner>
<!-- banner section ends -->



<!-- <ng-container *ngFor="let prod of products">
    <app-competencies [title]="prod.title" [description]="prod.description" [posts]="prod.posts" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.open"></app-competencies>
</ng-container> -->


<div class="container-fluid overviewSection">
    <div class="container containerDescription">
        <div class="descWrapper">
            <p>NeoSOFT is a SEI-CMMI Level-5 and ISO 9001:2008 certified global IT consulting &amp; software solutions provider with 2000+ software consultants working full time across 7 Delivery Centers. Established in 1996, NeoSOFT is headquartered in
                Mumbai, India with offices in USA, UK, Dubai, Italy, Germany, Japan &amp; Australia. Our commitment to quality and 23+ years of experience has made us serve over 1500+ clients across 50+ countries with 85% client retention.</p>
        </div>
    </div>
    <div class="container containerServices">
        <div class="overview-service-content">
            <h3 class="inner-section-title">NeoSOFT provides a wide range of services</h3>
            <div class="overview-services">
                <ul>
                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-mobile-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>Mobile Applications</h4>
                            <p>Harness the power of a mobile-first journey with industry-specific solutions</p>
                        </div>
                    </li>

                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-web-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>Web Development</h4>
                            <p>Design & Develop - Robust, Scalable & Industry specific Products / Solutions</p>
                        </div>
                    </li>

                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-cloud-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>Cloud Computing</h4>
                            <p>Drive innovation &amp; lower the costs with agile &amp; scalable cloud solutions</p>
                        </div>
                    </li>

                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-ai-ml-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>AI & ML</h4>
                            <p>Building and Fueling Intelligent Businesses</p>
                        </div>
                    </li>
                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-data-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>Analytics and Big Data</h4>
                            <p>Extract VALUE from data THAT MATTERS</p>
                        </div>
                    </li>

                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-data-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>Internet of Things (IoT)</h4>
                            <p>Leverage sensor technology through integration with business applications</p>
                        </div>
                    </li>

                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-blockchain-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>Blockchain</h4>
                            <p>Deciphering Blockchain and building sustainable and robust custom solutions</p>
                        </div>
                    </li>
                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/DevOps-Service-block-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>DevOps</h4>
                            <p>Bridging the gap between IT Development and Operations for seamless project delivery</p>
                        </div>
                    </li>

                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-testing-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>QA &amp; Testing</h4>
                            <p>Manual as well as Automated software testing services</p>
                        </div>
                    </li>

                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/sap-overview.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>SAP</h4>
                            <p>Unified solutions to gain a competitive advantage</p>
                        </div>
                    </li>

                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-ux-ui-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>UX / UI Design</h4>
                            <p>Adding life to Software by creating meaningful UX / UI Design</p>
                        </div>
                    </li>


                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-software-consulting-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>Software Consulting</h4>
                            <p>We connect strategy, technology, and design to deliver business-changing results.</p>
                        </div>
                    </li>


                    <li>
                        <div class="img-block">
                            <img src="../../../../assets/images/header/mainheader/what-we-do/color-images/overview-services-marketing-icon.png" alt="">
                        </div>
                        <div class="content-block">
                            <h4>Internet Marketing</h4>
                            <p>Influence and engagement, not just coverage</p>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="overview-services-second">
                <ul>
                    <li class="product-engineering-content">
                        <h4> <span> END-TO-END </span> <br> PRODUCT ENGINEERING</h4>
                        <p>Product Engineering Excellence - building next-generation Products, Platforms &amp; Experiences that connects with your customers</p>
                        <div class="overview-more-info"> <a href="javascript:void(0)">+</a></div>
                    </li>
                    <li class="digi-info-content">
                        <h4>ENTERPRISE DIGITAL <br> TRANSFORMATION</h4>
                        <p>Transforming businesses by developing products, services &amp; experiences</p>
                        <div class="overview-more-info"> <a href="javascript:void(0)">+</a></div>
                    </li>
                    <li class="team-augmentation-content">
                        <h4>Team Augmentation</h4>
                        <p>Skills, Processes &amp; Commitment - which you need</p>
                        <ul class="team-augmentation-list">
                            <li>Resource as a Service (
                                <h2>Offshore, Onsite &amp; Hybrid</h2>)</li>
                            <li>ODC / BOT</li>
                        </ul>
                        <div class="overview-more-info">
                            <a href="javascript:void(0)">+</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="container containerCompetencies">
        <div class="overveiewContainerCompetencies">
            <h3 class="inner-numberset-title">
                Our competencies are
            </h3>
            <ng-container *ngFor="let prod of products">
                <app-competencies [title]="prod.title" [description]="prod.description" [posts]="prod.posts" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.open"></app-competencies>
            </ng-container>

        </div>
    </div>

    <div class="container containerNumberset">
        <div class="numbersetWrapper">
            <h3 class="inner-numberset-title">
                WHAT SETS US APART, <span> BY THE NUMBERS </span>
            </h3>
            <ul class="numberlist">
                <li>
                    <h4>5500+ <span> Website </span></h4>
                    <p>DESIGN &amp;<br>DEVELOPED</p>
                    <img alt="website-icon" src="../../../../assets/images/whowearemodule/numbersetneo/website-icon.png">
                </li>
                <li>
                    <h4>750+ <span> Mobile </span></h4>
                    <p>APPS &amp;<br>PUBLISHED</p>
                    <img alt="website-icon" src="../../../../assets/images/whowearemodule/numbersetneo/mobile-icon.png">
                </li>
                <li>
                    <h4>20+ <span> Million </span></h4>
                    <p>DEVELOPMENT &amp;<br>HOURS</p>
                    <img alt="website-icon" src="../../../../assets/images/whowearemodule/numbersetneo/development-icon.png">
                </li>
                <li>
                    <h4>2000+ <span> Employee </span></h4>
                    <!-- <p>DESIGN &amp;<br>DEVELOPED</p> -->
                    <img alt="website-icon" src="../../../../assets/images/whowearemodule/numbersetneo/employee-icon.png">
                </li>
                <li>
                    <h4>1500+ <span> Happy </span></h4>
                    <p>CUSTOMERS</p>
                    <img alt="website-icon" src="../../../../assets/images/whowearemodule/numbersetneo/customer-icon.png">
                </li>
            </ul>
        </div>
    </div>


</div>

<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->