<!-- <img src="../../../../assets/images/whowearemodule/overview/services/ai-ml/ai-data-management.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'Artificial Intelligence and Machine Learning'" [pageName]="'What We Do'" [description]="'Building and Fueling Intelligent Businesses'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid aiAndMl">

    <div class="container containerAiAndMl">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>

    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">
            <div class="technology">
                <h3 class="tech-heading">Technology Stack</h3>
                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <h4 class="tech-heading-col-title">Area of Expertise</h4>
                        <ul class="teck-stack-ul">
                            <li>Computer Vision</li>
                            <li>Structured Data</li>
                            <li>Natural Language Processing</li>
                            <li>Recommendation <br/> Engine</li>
                            <li>Reinforcement <br/>Learning</li>
                            <!-- <li>Natural Language Processing</li> -->
                        </ul>
                    </div>
                    <div class="tech-stack-col-second">
                        <h4 class="tech-heading-col-title">Skill</h4>
                        <ul class="teck-stack-ul">
                            <li>Tensorflow</li>
                            <li>Pytorch</li>
                            <li>Keras</li>
                            <li>Opencv</li>
                            <li>Theano</li>
                            <li>R</li>
                            <li>SAS</li>
                            <li>Julia</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-third">
                        <h4 class="tech-heading-col-title">Cloud ML</h4>
                        <ul class="teck-stack-ul">
                            <li>AWS</li>
                            <li>Azure</li>
                            <li>Google</li>
                            <li>IBM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footer section start -->
<app-footer></app-footer>
<!-- Footer section ends -->