<div class="container dedicatedTeam">
    <div class="teamWrapper">
        <div class="team-boxes">
            <div class="resource">
                <h3>Resource as a Service</h3>
                <p>Attracting, Training &amp; Retaining Specialized IT Talent - is a big challenge for many organizations. And, with the rapidly evolving technologies and business needs, sourcing right IT resources at right time has become big pain area.
                    Our “Resource as a Service” is solution for this problem. You get access to our in-house talent pool of 1500+ people which helps you to finish your projects on-time, within budget. NeoSOFT specializes in delivering cutting edge digital
                    transformation and technology services which empower global businesses to outperform competition, improve productivity and optimize costs.</p>
            </div>
            <div class="whoIsIT">
                <h4>Who is it for?</h4>
                <ul class="who-is-it-list">
                    <li>Enterprises</li>
                    <li>SMEs</li>
                    <li>Startups</li>
                    <li>Consulting Firms</li>
                    <li>Digital Agencies</li>
                    <li>Software Companies</li>
                    <li>Software Product Companies (ISVs)</li>
                </ul>
            </div>
        </div>
    </div>
</div>