<!-- <img src="../../../../assets/images/whowearemodule/overview/services/analytics-big-data/BIG-DATA.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'Analytics & Big Data'" [pageName]="'What We Do'" [description]="'Extract VALUE from data THAT MATTERS'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid analyticsAndBigData">

    <div class="container containerAnalytics">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>

    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">
            <div class="technology">
                <h3 class="tech-heading">Technology Stack</h3>
                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <h4 class="tech-heading-col-title">Development <br/>Languages</h4>
                        <ul class="teck-stack-ul">
                            <li>Java</li>
                            <li>Python</li>
                            <li>C++</li>
                            <li>R</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-second">
                        <h4 class="tech-heading-col-title">Data Visualization <br/>& Insights</h4>
                        <ul class="teck-stack-ul">
                            <li>Microsoft Power BI</li>
                            <li>Pentaho</li>
                            <li>Tableau</li>
                            <li>Informatica</li>
                            <li>QlikView</li>
                            <li>MicroStrategy</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-third">
                        <h4 class="tech-heading-col-title">Databases / Platforms / <br/> Frameworks</h4>
                        <ul class="teck-stack-ul">
                            <li>Oracle</li>
                            <li>AWS Redshift</li>
                            <li>mongoDB</li>
                            <li>MS SQL</li>
                            <li>MySQL</li>
                            <li>Hadoop</li>
                            <li>Apache CouchDB</li>
                            <li>Neo4J</li>
                            <li>Apache Cassandra</li>
                            <li>Apache Spark</li>
                            <li>Apache Storm</li>
                            <li>Hive</li>
                            <li>Apache HBase</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-forth">
                        <h4 class="tech-heading-col-title">Search</h4>
                        <ul class="teck-stack-ul">
                            <li>Solr</li>
                            <li>Elasticsearch</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footer section start -->
<app-footer></app-footer>
<!-- Footer section ends -->