@import "src/assets/scss/index";
// overview 
.overview {
    background-image: url(../../../../assets/images/whowearemodule/banner/overview-bg.png);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/overview-bottom-bg.png);
    }
}

.clientele {
    background-image: url(../../../../assets/images/whowearemodule/banner/clientele-bg.png);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/clientele-bottom-bg.png);
    }
}

.corporatefact {
    background-image: url(../../../../assets/images/whowearemodule/banner/corporate-bg.png);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/corporate-bottom-bg.png);
    }
}

.certification {
    background-image: url(../../../../assets/images/whowearemodule/banner/certifications-bg.png);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/corporate-bottom-bg.png);
    }
}

.partner {
    background-image: url(../../../../assets/images/whowearemodule/banner/partner-bg.png);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/partner-bottom-bg.png);
    }
}

.infrastructure {
    background-image: url(../../../../assets/images/whowearemodule/banner/infrastructure-bg.png);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/infrastructure-bottom-bg.png);
    }
}

.csr {
    background-image: url(../../../../assets/images/whowearemodule/banner/csr-banner.png);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/csr-banner.png);
    }
}

// services banners..
.enterpriseMobility {
    background-image: url(../../../../assets/images/whowearemodule/banner/mobile-application.jpg);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/mobile-application-gradient.png);
    }
}

.webDevelopment {
    background-image: url(../../../../assets/images/whowearemodule/banner/web-development.jpg);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/web-development-gradient.png);
    }
}

.cloudComputing {
    background-image: url(../../../../assets/images/whowearemodule/banner/cloud-computing.jpg);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/cloud-computing-gradient.png);
    }
}

.aiAndMl {
    background-image: url(../../../../assets/images/whowearemodule/banner/ai-ml-banner.jpg);
    // &:before {
    //     background-image: url(../../../../assets/images/whowearemodule/banner/cloud-computing-gradient.png);
    // }
}

.analyticsAndBigdata {
    background-image: url(../../../../assets/images/whowearemodule/banner/bigdata.jpg);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/bigdata-gradient.png);
    }
}

.internetOfThings {
    background-image: url(../../../../assets/images/whowearemodule/banner/internet-of-things.jpg);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/internet-of-things-gradient.png);
    }
}

.blockChain {
    background-image: url(../../../../assets/images/whowearemodule/banner/blockchain-service.png);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/blockchain-service-gradient-bg.png);
    }
}

.devOpsBanner {
    background-image: url(../../../../assets/images/whowearemodule/banner/devops-banner.png);
    // &:before {
    //     background-image: url(../../../../assets/images/whowearemodule/banner/de);
    // }
}

.qaAndTesting {
    background-image: url(../../../../assets/images/whowearemodule/banner/qa-testing.jpg);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/qa-testing-gradient.png);
    }
}

.sap {
    background-image: url(../../../../assets/images/whowearemodule/banner/sap-banner.jpg);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/mobile-application-gradient.png);
    }
}

.uiAndUx {
    background-image: url(../../../../assets/images/whowearemodule/banner/ux-ui.jpg);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/ux-ui-gradient.png);
    }
}

.softwareConsulting {
    background-image: url(../../../../assets/images/whowearemodule/banner/software-consulting.jpg);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/software-consulting-gradient.png);
    }
}

.internetMarketing {
    background-image: url(../../../../assets/images/whowearemodule/banner/internet-marketing.jpg);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/internet-marketing-gradient.png);
    }
}

.teamAugumentation {
    background-image: url(../../../../assets/images/whowearemodule/banner/hire-team-bg.jpg);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/hireteam-bottom-bg.png);
    }
}

.ourDna {
    background-image: url(../../../../assets/images/whowearemodule/banner/dna-banner-bg.png);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/dna-banner-gradient-bg.png);
    }
}

.ourCulture {
    background-image: url(../../../../assets/images/whowearemodule/banner/dna-banner-bg.png);
    &:before {
        background-image: url(../../../../assets/images/whowearemodule/banner/dna-banner-gradient-bg.png);
    }
}

.bannerSection {
    // background-image: url(../../../../assets/images/whowearemodule/banner/overview-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 257px;
    text-align: center;
    position: relative;
    z-index: 0;
    // extra code
    // width: 100%;
    // margin-top: 100px;
    // display: inline-block;
    &.overview-bottom-bg:before {
        // background-image: url(../../../../assets/images/whowearemodule/banner/overview-bottom-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 257px;
        text-align: center;
        position: relative;
        z-index: 0;
        // z-index: 1;
    }
    &.bottom-gradient-bg:before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100%;
        background-size: 100% 100%;
    }
    .bannerContainer {
        .bannerWrapper {
            .banner-breadcumb {
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    padding-top: 8px;
                    position: relative;
                    width: 100%;
                    li {
                        display: inline-block;
                        vertical-align: middle;
                        padding-right: 21px;
                        position: relative;
                        color: #ffffff;
                        opacity: 0.6;
                        line-height: 14px;
                        a {
                            color: #ffffff;
                            font-size: 12.6px;
                            span {
                                font-size: 17px;
                            }
                        }
                        strong {
                            font-weight: 400;
                            font-size: 12.6px;
                        }
                        &.home:after {
                            content: "t";
                            font-family: "neofont" !important;
                            font-size: 11px;
                            position: absolute;
                            right: 3px;
                            top: 0;
                            margin: auto;
                            height: 11px;
                            bottom: 0;
                        }
                        &.company:after {
                            content: "t";
                            font-family: "neofont" !important;
                            font-size: 11px;
                            position: absolute;
                            right: 3px;
                            top: 0;
                            margin: auto;
                            height: 11px;
                            bottom: 0;
                        }
                    }
                }
            }
            .banner-content {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                .inner-page-title {
                    color: #ffffff;
                    margin-bottom: 11.20px;
                    letter-spacing: 1px;
                    margin-top: 0;
                    /* position: relative; */
                    // display: inline-block;
                    font-weight: 400;
                    text-transform: uppercase;
                    &:after {
                        height: 2px;
                        width: 5rem;
                        content: "";
                        display: block;
                        margin: 14px auto;
                        background: #ffffff;
                    }
                }
                .title-description {
                    color: #ffffff;
                    font-size: 14px;
                }
            }
        }
    }
}