<div class="container-fluid bannerSection overview-bottom-bg bottom-gradient-bg" [ngClass]="{'overview':title == 'overview',
'clientele':title == 'clientele',
'corporatefact':title =='corporatefact',
'certification':title=='certification',
'patner':title == 'patner',
'infrastructur':title == 'infrastructur',
'csr':title == 'csr',
'enterpriseMobility':title =='enterprsie mobility',
'webDevelopment':title =='web development',
'cloudComputing':title =='cloud computing',
'aiAndMl':title =='Artificial Intelligence and Machine Learning',
'analyticsAndBigdata':title == 'Analytics & Big Data',
'internetOfThings':title == 'Internet of Things (IoT)',
'blockChain':title == 'Blockchain',
'devOpsBanner':title =='DevOps'

}">
    <!-- 
'blockChain':title =='Blockchain',

'devOps':title =='devOps', 
'qaAndTesting':title =='QA & TESTING',
'sap':title =='SAP',
'uiAndUx':title =='UX/UI Design',
'softwareConsulting':title =='Software Consulting',
'internetMarketing':title =='Internet Marketing'
 -->
    <div class="container bannerContainer">
        <div class="bannerWrapper">
            <div class="banner-breadcumb">
                <ul>
                    <li class="home">
                        <a href="javascript:void(0)"><span class="icon-home"></span></a>
                    </li>
                    <li class="company"><a href="javascript:void(0);">{{ pageName}}</a></li>
                    <li><strong>{{title | titlecase}}</strong></li>
                </ul>

            </div>
            <div class="banner-content">
                <h1 class="inner-page-title">{{title}}</h1>
                <p class="title-description">{{description}}</p>
            </div>
        </div>
    </div>
</div>