@import "src/assets/scss/index";
.enterpriseDigitalSection {
    background: url(../../../../assets/images/whowearemodule/overview/services/enterpriseDigitalTransformation/enterprice-bg-image.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    .enterpriseContainer {
        .enterpriseWrapper {
            .prod-engg-box {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                background: #f7a900;
                padding: 2rem 1.5rem;
                position: absolute;
                top: 54px;
                z-index: 1;
                color: #ffffff;
                left: 0;
                right: 0;
                // margin: auto;
                .product-engg-box-title {
                    width: 21%;
                }
                .product-engg-box-description {
                    width: 71%;
                }
            }
            .digital-img-container {}
        }
    }
}