<!-- <img src="../../../../assets/images/whowearemodule/overview/services/sap/review-and-optimization.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'SAP'" [pageName]="'What We Do'" [description]="'Unified solutions to gain a competitive advantage'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid sap">

    <div class="container containerSap">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>
    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">

        </div>
    </div>

</div>