<!-- <img src="../../../../assets/images/whowearemodule/overview/services/sap/review-and-optimization.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'SAP'" [pageName]="'What We Do'" [description]="'Unified solutions to gain a competitive advantage'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid sap">

    <div class="container containerSap">

        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>

    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">
            <div class="technology">
                <h3 class="tech-heading">Technology Stack</h3>
                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <!-- <h4 class="tech-heading-col-title">Development <br/>Languages</h4> -->
                        <ul class="teck-stack-ul">
                            <li>ECC</li>
                            <li>HANA</li>
                            <li>NetWeaver</li>
                            <li>Business Object</li>
                        </ul>
                    </div>
                    <div class="tech-stack-col-second">
                        <!-- <h4 class="tech-heading-col-title">Data Visualization <br/>& Insights</h4> -->
                        <ul class="teck-stack-ul">
                            <li>BASIS</li>
                            <li>ABAP</li>
                            <li>BI/BW</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footer section start -->
<app-footer></app-footer>
<!-- Footer section ends -->