<!-- <img src="../../../../assets/images/whowearemodule/overview/services/cloud-computing/CLOUD-ENABLEMENT.png" alt=""> -->

<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'cloud computing'" [pageName]="'What We Do'" [description]="'We believe that Software Product must SOLVE problem(s).'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid cloudComputing">

    <div class="container containerCloud">
        <div class="competencyWrapper">
            <ng-container *ngFor="let prod of product">
                <app-competencies-services [title]="prod.title" [description]="prod.description" [paraDescriptionFirst]="prod.paraDescriptionFirst" [paraDescriptionSecond]="prod.paraDescriptionSecond" [listTitleSecond]="prod.listTitleSecond" [listTitleFirst]="prod.listTitleFirst"
                    [posts]="prod.posts" [postsSecond]="prod.postsSecond" [imgUrl]="prod.imgUrl" [isCompetencies]="prod.isCompetencies"></app-competencies-services>
            </ng-container>
        </div>
    </div>

    <div class="container containerTechnologyStack">
        <div class="technolgyWrapper">
            <div class="technology">
                <h3 class="tech-heading">Technology Stack</h3>
                <div class="tech-stack">
                    <div class="tech-stack-col-first">
                        <h4 class="tech-heading-col-title">Platforms</h4>
                        <ul class="teck-stack-ul">
                            <li>Amazon Web Services</li>
                            <li>VMware</li>
                            <li>HP Cloud</li>
                            <li>Rackspace Cloud</li>
                            <li>Google Cloud</li>
                            <li>Citrix</li>
                            <li>Oracle Cloud</li>
                            <li>Classic ASP</li>
                            <li>Apache CloudStack</li>
                            <li>Microsoft Azure</li>
                            <li>Openstack</li>
                            <li>IBM Softlayer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Industry Served Component start -->
<app-industryserve></app-industryserve>
<!-- Industry Served Component ends -->

<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->