@import './assets/scss/index';
@import url(~fullpage.js/dist/fullpage.min.css);
.carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
}


/* fix blank or flashing items on carousel */

.client-carousel .owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}


/* end fix */

.client-carousel .owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.client-carousel .owl-nav i {
    font-size: 52px;
}

.client-carousel .owl-nav .owl-prev {
    left: -30px;
}

.client-carousel .owl-nav .owl-next {
    right: -30px;
}

.client-carousel .owl-theme .owl-nav {
    margin-top: -50px;
    position: absolute;
    right: -25px;
}

.client-carousel .owl-theme .owl-nav [class*=owl-] {
    color: grey;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.client-carousel .owl-theme .owl-nav [class*=owl-]:hover {
    color: #e23434;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.client-carousel .icon-right-open-big {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        height: 15px;
        width: 2px;
        background-color: #e5e5e5;
        left: -5px;
        top: -1px;
    }
}

//blog carousel Start here...
.blog-carousel .owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}


/* end fix */

.blog-carousel .owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.blog-carousel .owl-nav i {
    font-size: 52px;
}

.blog-carousel .owl-nav .owl-prev {
    // left: -30px;
    left: -1206px;
    top: -177px;
    //For mobile
    @media(max-width: 374.98px) {
        left: -285px;
        top: -137px;
    }
    @media(min-width: 375px) and (max-width:424.98px) {
        left: -340px;
        top: -134px;
    }
    @media(min-width: 425px) and (max-width:767.98px) {
        left: -388px;
        top: -134px;
    }
    @media(min-width: 768px) and (max-width: 1023.98px) {
        left: -713px;
        top: -137px;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        left: -954px;
        top: -128px;
    }
}

.blog-carousel .owl-nav .owl-next {
    // right: -30px;
    right: -30px;
    top: -177px;
    @media(max-width: 1023.98px) {
        right: 27px;
        top: -137px;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        right: 26px;
        top: -128px;
    }
}

.blog-carousel .owl-theme .owl-nav {
    margin-top: -50px;
    position: absolute;
    right: -25px;
}

.blog-carousel .owl-theme .owl-nav .disabled {
    opacity: 1;
    cursor: default;
}

.blog-carousel .owl-theme .owl-nav [class*=owl-] {
    font-size: 20px;
    margin: 5px;
    padding: 4px 7px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    background-color: #2d2d2d;
    color: #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    @media(max-width: 1023.98px) {
        font-size: 17px;
        padding: 7px 0px;
        width: 1.5rem;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        padding: 4px 2px;
        width: 1.5rem;
    }
}

.blog-carousel .owl-theme .owl-nav [class*=owl-]:hover {
    font-size: 20px;
    margin: 5px;
    padding: 4px 7px;
    background-color: #e23434;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    width: 2.5rem;
    height: 2.5rem;
    @media(max-width: 1023.98px) {
        font-size: 17px;
        padding: 6px 2px;
        width: 1.5rem;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        padding: 4px 2px;
        width: 1.5rem;
    }
}

.blog-carousel .owl-theme .owl-nav {
    margin-top: -50px;
    position: absolute;
    right: -25px;
}

.blog-carousel .owl-theme .owl-nav .disabled {
    opacity: 1;
    cursor: default;
}

.blog-carousel .owl-theme .owl-nav [class*=owl-] {
    font-size: 20px;
    margin: 5px;
    padding: 4px 7px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    background-color: #2d2d2d;
    color: #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    @media(max-width: 1023.98px) {
        font-size: 17px;
        padding: 7px 0px;
        width: 1.5rem;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        padding: 4px 2px;
        width: 1.5rem;
    }
}

.blog-carousel .owl-theme .owl-nav [class*=owl-]:hover {
    font-size: 20px;
    margin: 5px;
    padding: 4px 7px;
    background-color: #e23434;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    width: 2.5rem;
    height: 2.5rem;
    @media(max-width: 1023.98px) {
        font-size: 17px;
        padding: 6px 2px;
        width: 1.5rem;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        padding: 4px 2px;
        width: 1.5rem;
    }
}

//***********hire page Carousels********
.hireCarousel .owl-theme .owl-nav [class*=owl-] {
    color: grey;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    &:hover {
        color: red;
    }
}

.hireCarousel .owl-theme .owl-nav {
    margin-top: -46px;
    position: absolute;
    left: 0;
}

.hireCarousel .owl-nav .owl-next {
    position: absolute;
    left: 1058px;
    top: 0;
    //For mobile
    @media(max-width: 374.98px) {
        left: 209px;
        top: 0;
    }
    @media(min-width: 375px) and (max-width: 424.98px) {
        left: 263px;
        top: 0;
    }
    @media(min-width: 425px) and (max-width: 767.98px) {
        left: 314px;
        top: 0;
    }
    @media(min-width: 768px) and (max-width: 1023.98px) {
        left: 640px;
        top: 0;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        left: 880px;
        top: 0;
    }
}

.hireCarousel .owl-nav .owl-prev {
    position: absolute;
    left: -29px;
    //For mobile
    @media(max-width: 374.98px) {}
    @media(min-width: 375px) and (max-width: 424.98px) {}
    @media(min-width: 425px) and (max-width: 767.98px) {}
    @media(min-width: 768px) and (max-width: 1023.98px) {}
    @media (min-width: 992px) and (max-width: 1199.98px) {}
}

//***********hire page ends carosuls*****
// .blog-carousel .icon-right-open-big {
//     position: relative;
//     &::after {
//         position: absolute;
//         content: "";
//         height: 15px;
//         width: 2px;
//         background-color: #e5e5e5;
//         left: -5px;
//         top: -1px;
//     }
// }
//Blog Carousel ends here
// for full page js
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active+.fp-tooltip {
    transition: opacity .2s ease-in;
    width: auto;
    opacity: 1;
    // color: green;
    color: #ee2a38;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
}

.fp-tableCell {
    display: table-cell !important;
    vertical-align: text-top !important;
    width: 100% !important;
    height: 100% !important;
    /* text-align: center; */
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    transition: all .1s ease-in-out;
    border: 2px solid rgba(255, 255, 255, .7) !important;
}

// .section-eight>.fp-tableCell {
//     vertical-align: middle !important;
// }
// .section-eight .fp-auto-height {
//     height: auto !important;
// }
// .fp-auto-height .fp-slide,
// .fp-auto-height .fp-tableCell,
// .fp-auto-height.fp-section,
// .fp-responsive .fp-auto-height-responsive .fp-slide,
// .fp-responsive .fp-auto-height-responsive .fp-tableCell,
// .fp-responsive .fp-auto-height-responsive.fp-section {
//     height: auto!important;
// }
// *********** Who WE Are Module *******************
// ----hire Page 
.box-heading {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 19.5px !important;
}

.techUl {
    list-style-type: none;
    padding: 0;
    margin: 14px 0px;
    max-height: 235px !important;
    overflow-y: scroll;
    li {
        margin: 0 0 7px 0 !important;
        position: relative;
        padding-left: 18px !important;
        line-height: 25.2px;
        &:before {
            content: "t";
            font-family: "neofont" !important;
            color: #e23434;
            position: absolute;
            left: 0px;
            top: auto;
            font-size: 0.8rem;
            font-weight: 700;
            vertical-align: middle;
            line-height: 2rem;
        }
    }
}

.techUl::-webkit-scrollbar {
    width: 3px;
    // background-color: #F5F5F5;
}

.techUl::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #e23434;
}

.modalInfo {
    .modal-content {
        border-radius: 8px !important;
    }
}

//engagement Model slider
#sync1 {
    .owl-dots {
        // position: relative;
        // bottom: 47px;
        position: absolute;
        bottom: 4px;
        left: 0;
        right: 0;
        .owl-dot {
            position: relative;
            span {
                width: auto;
                height: auto;
                margin: 0px 2px;
                background: #ffffff;
                display: block;
                -webkit-backface-visibility: visible;
                transition: opacity 0.2s ease;
                border-radius: 0;
                padding: 0.8rem 41px;
                @media (min-width: 1024px) and (max-width: 1439.98px) {
                    padding: 0.8rem 24px;
                }
            }
            &:nth-child(1) span:after {
                content: "Ideation,Design & Architecture";
                text-transform: uppercase;
                color: #1c1c1c;
                font-size: 0.7rem;
                // position: relative;
                font-weight: 700;
                -webkit-transition: 0.5s;
                transition: 0.5s;
            }
            &:nth-child(2) span:after {
                content: "Development & Testing";
                text-transform: uppercase;
                color: #1c1c1c;
                font-size: 0.7rem;
                // position: relative;
                font-weight: 700;
                -webkit-transition: 0.5s;
                transition: 0.5s;
            }
            &:nth-child(3) span:after {
                content: "Sustenance & Support";
                text-transform: uppercase;
                color: #1c1c1c;
                font-size: 0.7rem;
                // position: relative;
                font-weight: 700;
                -webkit-transition: 0.5s;
                transition: 0.5s;
            }
            &:nth-child(4) span:after {
                content: "Product Reengineering";
                text-transform: uppercase;
                color: #1c1c1c;
                font-size: 0.7rem;
                // position: relative;
                font-weight: 700;
                -webkit-transition: 0.5s;
                transition: 0.5s;
            }
            &:nth-child(5) span:after {
                content: "Training & Documentation";
                text-transform: uppercase;
                color: #1c1c1c;
                font-size: 0.7rem;
                // position: relative;
                font-weight: 700;
                -webkit-transition: 0.5s;
                transition: 0.5s;
            }
            &.active {
                outline: 0px auto -webkit-focus-ring-color;
                span {
                    background-color: #e23434;
                    &:after {
                        color: #ffffff;
                        transition: all .5s;
                    }
                }
            }
            &.active :before {
                position: absolute;
                width: 0;
                height: 0;
                bottom: -9px;
                left: 0;
                right: 0;
                margin: auto;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-bottom: 9px solid #e23434;
                transform: rotate(179deg);
                display: block;
                content: "";
            }
        }
    }
    // navigation arrow hide
    .owl-nav {
        // margin-top: 10px;
        display: none;
    }
    // navigation arrow hide
}

// Coding For Sync2 ID
#sync2 {
    .owl-nav {
        // margin-top: 10px;
        display: none;
    }
}

button:focus {
    // outline: 1px dotted;
    outline: 0 auto -webkit-focus-ring-color;
}

//-----hire page ends
//CSR initiatives Slider Start.....
#sync11 {
    .owl-dots {
        // position: relative;
        // bottom: 47px;
        position: relative;
        left: 0;
        right: 0;
        margin: 20px auto 60px;
        text-align: center;
        @media (min-width: 768px) and (max-width: 1023.98px) {
            text-align: left;
        }
        .owl-dot {
            //this one button
            position: relative;
            width: 84px;
            height: 84px;
            border: 2px solid transparent;
            border-radius: 100%;
            display: inline-block;
            box-sizing: border-box;
            margin: 0 12px;
            cursor: pointer;
            position: relative;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: 0 auto -webkit-focus-ring-color;
            @media (min-width: 768px) and (max-width: 1023.98px) {
                width: 76px;
            }
            &.active span {
                filter: grayscale(0);
                border: 2px solid #f31600;
            }
            span {
                position: relative;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                box-sizing: border-box;
                display: block;
                filter: grayscale(1);
                -webkit-transition: 0.5s;
                // transition: 0.5s;
                //background: url(https://images.neosofttech.com/sites/all/themes/neosoft2017/images/CSR/child_education-circle.png);
                &::before {
                    //content: "Child Education";
                    color: #2c2c2c;
                    position: absolute;
                    bottom: -46px;
                    text-align: center;
                    left: 0;
                    right: 0;
                    margin: 0px auto;
                }
            }
            &:nth-child(1) span {
                background: url(./assets/images/whowearemodule/csr/thumbnails/child_education-circle.png);
                &:before {
                    content: "Child Education";
                }
            }
            &:nth-child(2) span {
                background: url(./assets/images/whowearemodule/csr/thumbnails/employment-circle.png);
                &:before {
                    content: "Employability";
                }
            }
            &:nth-child(3) span {
                background: url(./assets/images/whowearemodule/csr/thumbnails/medical_assistance-circle.png);
                &:before {
                    content: "Medical Assistance";
                }
            }
            &:nth-child(4) span {
                background: url(./assets/images/whowearemodule/csr/thumbnails/plant-circle.png);
                &:before {
                    content: "Environment Protection";
                }
            }
            &:nth-child(5) span {
                background: url(./assets/images/whowearemodule/csr/thumbnails/disaster-circle.png);
                &:before {
                    content: "Disaster Relife";
                }
            }
            &:nth-child(6) span {
                background: url(./assets/images/whowearemodule/csr/thumbnails/women_empowerment-circle.png);
                &:before {
                    content: "Woman Empowerment";
                }
            }
        }
    }
    // navigation arrow hide
    .owl-nav {
        // margin-top: 10px;
        display: none;
    }
    // navigation arrow hide
}

#sync22 {
    .owl-nav {
        display: none;
    }
    .owl-dots {
        position: absolute;
        right: -38px;
        top: 51%;
        transform: translateY(-70%);
        left: auto;
        display: flex;
        flex-direction: column;
        .owl-dot {
            outline: 0 auto -webkit-focus-ring-color;
            span {
                background: #767677;
            }
            &.active span {
                background: #ec1e27;
            }
        }
    }
}

// CSR Initiatives slider Ends.....
// *********** Who We are Module Ends **************