<!-- header section here -->
<app-header></app-header>
<!-- header section here -->

<!-- banner section start -->
<div class="container-fluid bannerSection overview-bottom-bg bottom-gradient-bg">
    <div class="container bannerContainer">
        <div class="bannerWrapper">
            <div class="banner-breadcumb">
                <ul>
                    <li class="home">
                        <a href="javascript:void(0)"><span class="icon-home"></span></a>
                    </li>
                    <!-- <li class="company"><a href="javascript:void(0);">Quick Links</a></li> -->
                    <li><strong>Career</strong></li>
                </ul>

            </div>
            <div class="banner-content">
                <h1 class="inner-page-title">We're NeoSOFT</h1>
                <p class="title-description">Be a part of Excellence, Innovation & Determination</p>
            </div>
        </div>
    </div>
</div>
<!-- banner section ends -->

<div class="container-fluid findCareer">
    <div class="container findCareerContainer">
        <div class="findCarerrWrapper">
            <div class="careerLeft">
                <p>Opportunity to spearhead your career to the next level of excellence.</p>
            </div>
            <div class="careerRight">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Apply</a>
                <div class="applyModal">
                    <div class="modal" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content borderRadius">
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="modalWrapper">
                                        <div class="alertMessage">
                                            We're now taking you to <br> another NeoSOFT website.
                                        </div>
                                        <div class="alertButton">
                                            <a class="btnCancel" data-dismiss="modal" href="javascript:void(0);">Cancel</a>
                                            <a class="btnOk" (click)="goToLink('www.google.com')">Ok</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>