<!-- header section here -->
<app-header></app-header>
<!-- header section here -->

<!-- banner section start -->
<div class="container-fluid bannerSection overview-bottom-bg bottom-gradient-bg">
    <div class="container bannerContainer">
        <div class="bannerWrapper">
            <div class="banner-breadcumb">
                <ul>
                    <li class="home">
                        <a href="javascript:void(0)"><span class="icon-home"></span></a>
                    </li>
                    <!-- <li class="company"><a href="javascript:void(0);">Quick Links</a></li> -->
                    <li><strong>Career</strong></li>
                </ul>

            </div>
            <div class="banner-content">
                <h1 class="inner-page-title">We're NeoSOFT</h1>
                <p class="title-description">Be a part of Excellence, Innovation & Determination</p>
            </div>
        </div>
    </div>
</div>
<!-- banner section ends -->

<!-- //Career  -->
<div class="container-fluid findCareer">
    <div class="container findCareerContainer">
        <div class="findCarerrWrapper">
            <div class="careerLeft">
                <p>Opportunity to spearhead your career to the next level of excellence.</p>
            </div>
            <div class="careerRight">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Apply</a>
                <div class="applyModal">
                    <div class="modal" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content borderRadius">
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="modalWrapper">
                                        <div class="alertMessage">
                                            We're now taking you to <br> another NeoSOFT website.
                                        </div>
                                        <div class="alertButton">
                                            <a class="btnCancel" data-dismiss="modal" href="javascript:void(0);">Cancel</a>
                                            <a class="btnOk" (click)="goToLink('https://careers.neosofttech.com/')">Ok</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Career End  -->

<div class="contianer-fluid employeeMotivationSection">
    <div class="container employeeMotivationContainer">
        <div class="employeeMotivationWrapper">
            <ul>
                <li><span>1</span>Employee First,<br>Employee Always</li>
                <li><span>2</span> Be Empowered,<br>Get Recognized</li>
                <li><span>3</span> A Learning Curve<br>for Everyone</li>
                <li><span>4</span> Flexibility to<br>Perform</li>
                <li><span>5</span>Live Life, Strike<br>a Balance</li>
            </ul>
            <ul>
                <li><span>6</span>Make a Difference,<br>Be the Change</li>
                <li><span>7</span>Learn New Technologies,<br>when they are New</li>
                <li><span>8</span>Think like an<br>Entrepreneur</li>
                <li><span>9</span>Endless Boundaries<br>to Innovate</li>
                <li><span>10</span>Be Yourself,<br>Be the change</li>
            </ul>
        </div>
    </div>
</div>

<!-- // Employee Benifit Section -->
<div class="container-fluid employeeBenifitSection">
    <div class="empBenifitWrapper">
        <h2>Employee&nbsp;<span>First</span>&nbsp;Employee&nbsp;<span>Always</span></h2>
        <div class="employeeOuterContainer careerCarosuelModule" [ngClass]="{'owl-carousel owl-theme': isOwl}">
            <div class="employee-inner sparkContent" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Flaunt<br>Your Talent</h3>
                    <p>A Platform beyond the Workstations - an opportunity to demonstrate one's noteworthy special talent.</p>
                </div>
            </div>
            <div class="employee-inner champions-content" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Fueling<br>Sportsmanship</h3>
                    <p>Cheering up the winning spirit of sports enthusiasts with indoor &amp; outdoor sports activities.</p>
                </div>
            </div>
            <div class="employee-inner employee-colab" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Employee<br>Collaboration</h3>
                    <p>An interactive knowledge sharing platform which fosters discussions, problem-solving, learning &amp; development.</p>
                </div>
            </div>
            <div class="employee-inner bliss-content" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Flaunt<br>Your Talent</h3>
                    <p>A Platform beyond the Workstations - an opportunity to demonstrate one's noteworthy special talent.</p>
                </div>
            </div>
            <div class="employee-inner wisdom-content" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Ideas Worth<br>Spreading</h3>
                    <p>Gaining a holistic approach towards life with bytes of knowledge, motivation, guidance, &amp; support.</p>
                </div>
            </div>
            <div class="employee-inner wellness-content" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Fit<br>For Life</h3>
                    <p>Revealing the secret of becoming a healthier you; nurture body, mind, soul, &amp; spirit.</p>
                </div>
            </div>
            <div class="employee-inner neosmile-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Helping<br>Hands</h3>
                    <p>A commitment towards the society, doing more than just serving the needs of customers &amp; shareholders.</p>
                </div>
            </div>
            <div class="employee-inner connecto-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Connecting<br>People</h3>
                    <p>Mobile application that allows you to stay connected and get updates on NeoSOFT policies, events, notifications, etc.</p>
                </div>
            </div>
            <div class="employee-inner academy-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Nurturing<br>Careers</h3>
                    <p>A Platform that offers advanced learning opportunities to scale in the respective stream of expertise.</p>
                </div>
            </div>
            <div class="employee-inner bookcafe-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Read Learn<br>Discover</h3>
                    <p>Add a book to your life. A gateway to the kingdom of knowledge and wisdom.</p>
                </div>
            </div>
            <div class="employee-inner university-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Creating<br>Opportunities</h3>
                    <p>An excellent opportunity for the job aspirants to learn &amp; specialize in their chosen area of technology.</p>
                </div>
            </div>
            <div class="employee-inner excelencia-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Outstanding<br>Performance</h3>
                    <p>Celebrating success - Recognizing &amp; rewarding the Star performers for their extraordinary achievements.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- // Employee Benifit Section ens-->


<!-- People Matter Sections -->
<div class="container-fluid peopleMatter">
    <div class="container peopleMatterContainer">
        <div class="peopleMatterWrapper">
            <h2 class="peopleMatterTitle">Here's how we have grown!</h2>
            <p class="subTitle">We look for few key attributes to ensure that you are the right fit at NeoSOFT Technologies.</p>
            <ul>
                <li>
                    <p>Last Quarter</p>
                    <span class="counts">170 <sup class="plus">+</sup></span>
                    <p>got trained in new technologies</p>
                </li>
                <li>
                    <p>Last Quarter</p>
                    <span class="counts">19 <sup class="plus">+</sup></span>
                    <p>traveled to global locations</p>
                </li>
                <li>
                    <p>Last Quarter</p>
                    <span class="counts">155 <sup class="plus">+</sup></span>
                    <p>join our company</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- People Matter Sections Ends-->


<!-- Our Culture Sections -->
<div class="container-fluid ourCultureSection">
    <div class="container ourCultureContainer">
        <div class="ourCultureWrappper">
            <div class="culture-outer-grid">
                <div class="left-culture-grid">
                    <div class="left-inner-culture">
                        <h3>OUR CULTURE</h3>
                        <p class="happy">NeoSOFT Culture is a sum of Values, Beliefs, and Traditions.</p>
                        <a class="more" routerLink="/our-culture">more ></a>
                    </div>
                    <div class="right-inner-culture">
                        <h3>OUR DNA</h3>
                        <p class="dna-paragraph">The building blocks which are the contributors towards our success story.</p>
                        <a class="more" routerLink="/our-dna">more ></a>
                    </div>
                </div>
                <div class="right-culture-grid">
                    <img alt="dna Image" src="../../../../assets/images/whowearemodule/career/peopleMatter/dna.png">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Culture Sections ends-->

<!-- we look for Section -->
<div class="container-fluid weLookForSection">
    <div class="container weLookForContainer">
        <div class="weLookForWrapper">
            <h2 class="weLookFor-title">What we Look For?</h2>
            <p class="weLookFor-subtitle">We look for few key attributes to ensure that you are the right fit at NeoSOFT Technologies.</p>
            <ul>
                <li>
                    <h3>Positive Attitude</h3>
                    <p>Has the ability to blend in our culture, can embody our core values and holds a positive approach.</p>
                    <!-- <span class="rightTop">01</span> -->
                </li>
                <li>
                    <h3>Excellent Team Player</h3>
                    <p>Someone who values people, has great collaboration skills to initiate self-domain and cross-functional work.</p>
                </li>
                <li>
                    <h3>Leadership Traits</h3>
                    <p>Be ambitious, intelligent, confident,<br>decision-maker, action-oriented, detail-oriented and holds leadership traits.</p>
                </li>
                <li>
                    <h3>Learn and Grow</h3>
                    <p>Be flexible, adaptable, curious and have the hunger to learn and grow.</p>
                </li>
                <li>
                    <h3>High Goals</h3>
                    <p>Stays focused, and keeps moving towards the goals set; for yourself and for the organization.</p>
                </li>
                <li>
                    <h3>Self-Motivated</h3>
                    <p>We look for pro-activeness in you. Someone who is self-driven and is an excellent communicator.</p>
                </li>
                <li>
                    <h3>Add Value</h3>
                    <p>The person should possess a go-getter attitude and be able to make a difference through innovative ideas and work.</p>
                </li>
                <li>
                    <h3>Ethical Professional</h3>
                    <p>Be a person of integrity, honesty and participate in ethical work endeavours.</p>
                </li>
                <li>
                    <h3>Knowledge &amp; Capabilities</h3>
                    <p>Stays abreast with latest technologies and embraces advancing to newer platforms.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- We look for Section ends -->


<!-- Recruitment Sections-->
<div class="container-fluid recruitmentSection">
    <div class="container recruitmentContainer">
        <div class="recruitmentWrapper">
            <h2 class="recruitmentTitle">Recruitment Process</h2>
            <p class="recruitment-subtitle">Making the right choice begins with getting to know each other and an opportunity to talk about what we can achieve together. Our onboarding process is simple, transparent and aims at matching the right talent with right opportunity.</p>
            <div class="recruit-process-grid">
                <div class="process-step">
                    <div class="steps">
                        <h2>step<span class="steps--green">01</span></h2>
                        <div class="step_headline">
                            <h3>Profile Shortlisting</h3>
                        </div>
                    </div>
                    <div class="steps_content">
                        <ol>
                            <li>Profile Screening</li>
                            <li>Career Portal Registration</li>
                            <li>Evaluation</li>
                            <li>Role Feasibility check</li>
                            <li>Invitation for F2F Interview</li>
                        </ol>
                    </div>
                </div>
                <div class="process-step">
                    <div class="steps">
                        <h2>step<span class="steps--blue">02</span></h2>
                        <div class="step_headline">
                            <h3>Written Test</h3>
                        </div>
                    </div>
                    <div class="steps_content">
                        <ol>
                            <li>Aptitude (if applicable)</li>
                            <li>Programming &amp; Logic (if applicable)</li>
                            <li>Domain specific (if any)</li>
                        </ol>
                    </div>
                </div>
                <div class="process-step">
                    <div class="steps">
                        <h2>step<span class="steps--orange">03</span></h2>
                        <div class="step_headline">
                            <h3>Technical Evaluation</h3>
                        </div>
                    </div>
                    <div class="steps_content">
                        <ol>
                            <li>Level 1 - Basic</li>
                            <li>Level 2 - Advanced</li>
                            <li>Level 3 - Expert (if applicable)</li>
                        </ol>
                    </div>
                </div>
                <div class="process-step">
                    <div class="steps">
                        <h2>step<span class="steps--red">04</span></h2>
                        <div class="step_headline">
                            <h3>HR Round</h3>
                        </div>
                    </div>
                    <div class="steps_content">
                        <ol>
                            <li>Remuneration</li>
                            <li>Company Policies</li>
                            <li>Queries</li>
                        </ol>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- Recruitment Sections-->

<!-- Softeare Career -->
<div class="container-fluid softwareCareerSection">
    <div class="container softwareCareerContainer">
        <div class="softwareCareerWrapper">
            <h2 class="softwareCareerTitle">We Build Your Software Career</h2>
            <p class="softwareCareer-subtitle">A Journey which enhances your intrinsic and extrinsic traits</p>
            <div class="careerCount">
                <ul>
                    <li>
                        <div class="request-loader">
                            <p>+</p>
                        </div>
                        <div class="CareersBox">
                            <ul>
                                <li>Trainee Software Engineer</li>
                                <li>Associate Software Engineer</li>
                                <li>Software Engineer</li>
                                <li>Senior Software Engineer</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="request-loader">
                            <p>+</p>
                        </div>
                        <div class="CareersBox">
                            <ul>
                                <li>Team Lead</li>
                                <li>Project Manager</li>
                                <li>Analyst</li>
                                <li>Scrum Master</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="request-loader">
                            <p>+</p>
                        </div>
                        <div class="CareersBox">
                            <ul>
                                <li>Department Head</li>
                                <li>Vice President</li>
                                <li>Assistant Vice President</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="request-loader">
                            <p>+</p>
                        </div>
                        <div class="CareersBox">
                            <ul>
                                <li>CEO</li>
                                <li>CTO</li>
                                <li>COO</li>
                                <li>CIO</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Software Career End-->


<!-- We are Hiring -->
<div class="container-fluid weAreHiring">
    <div class="container weAreHiringContainer">
        <div class="weAreHiringWrapper">
            <h2 class="weAreHiringTitle">We Are Hiring</h2>
            <ul class="comapny-submenu">
                <li class="draw meet" routerLink="/mobileappdevelopment"><span class="Icon"><img class="img-first" src="../../../../assets/images/header/mainheader/what-we-do/what-we-mobile-app-top-icon.png" alt="Mobile Application"></span><a>Mobile Application</a></li>
                <li class="draw meet" routerLink="/webdevelopment"><span class="Icon"><img class="img-second" src="../../../../assets/images/header/mainheader/what-we-do/what-we-web-top-icon.png" alt="web Dev"></span><a>Web Development</a></li>
                <li class="draw meet" routerLink="/cloudcomputing"><span class="Icon"><img class="img-third" src="../../../../assets/images/header/mainheader/what-we-do/what-we-cloud-top-icon.png" alt="cloud Computing"></span><a>Cloud Computing</a></li>
                <li class="draw meet" routerLink="/aiandml"><span class="Icon"><img class="img-forth" src="../../../../assets/images/header/mainheader/what-we-do/ai-ml_0.png" alt="AI and ML"></span><a>AI & ML</a></li>
                <li class="draw meet" routerLink="/analyticsbigdata"><span class="Icon"><img class="img-fifth" src="../../../../assets/images/header/mainheader/what-we-do/what-we-bigdata-top-icon.png" alt="analyticsbigdata"></span><a>Analytics and Big Data</a></li>
                <li class="draw meet" routerLink="/iot"><span class="Icon"><img class="img-six" src="../../../../assets/images/header/mainheader/what-we-do/what-we-iot-top-icon.png" alt="iot"></span><a>Internet of Things(IOT)</a></li>
                <li class="draw meet" routerLink="/blockchain"><span class="Icon"><img class="img-seven" src="../../../../assets/images/header/mainheader/what-we-do/what-we-menuchain-top-icon.png" alt="blockchain"></span><a>Blockchain</a></li>
                <li class="draw meet" routerLink="/devops"><span class="Icon"><img class="img-eight" src="../../../../assets/images/header/mainheader/what-we-do/devops-icon.png" alt="Devops"></span><a>DevOps</a></li>
                <li class="draw meet" routerLink="/qa-and-testing"><span class="Icon"><img class="img-nine" src="../../../../assets/images/header/mainheader/what-we-do/what-we-qa-top-icon.png" alt="QA and Testing"></span><a>QA & Testing</a></li>
                <li class="draw meet" routerLink="/sap"><span class="Icon"><img class="img-ten" src="../../../../assets/images/header/mainheader/what-we-do/sap1_0.png" alt="sap"></span><a>SAP</a></li>
                <li class="draw meet" routerLink="/ux-ui"><span class="Icon"><img class="img-eleven" src="../../../../assets/images/header/mainheader/what-we-do/what-we-uxui-top-icon.png" alt="ux and ui"></span><a>UX/UI Design</a></li>
                <li class="draw meet" routerLink="/softwareconsulting"><span class="Icon"><img class="img-twelve" src="../../../../assets/images/header/mainheader/what-we-do/menu-software-consulting_1_0.png" alt="Software Consulting"></span><a>Software Consulting</a></li>
                <li class="draw meet" routerLink="/internetmarketing"><span class="Icon"><img class="img-thirteen" src="../../../../assets/images/header/mainheader/what-we-do/what-we-internet-top-icon.png" alt="Internet Marketing"></span><a>Internet Marketing</a></li>
            </ul>
            <!-- <a class="btn btn-fill browseJobs">See all jobs</a> -->
            <div class="browsButton text-center">
                <a class="browsJob" href="javascript:void(0);" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">See all jobs</a>
            </div>
        </div>
    </div>
</div>
<!-- We are Hiring -->



<!-- Neosoft University -->
<div class="contianr-fluid neosoftUniversitySection">
    <div class="container neosoftUniversityContainer">
        <div class="neosoftUniversityWrapper">
            <div class="leftUniversity">
                <img alt="University" src="https://images.neosofttech.com/sites/all/themes/neosoft2017/images/career-images/university.png">
            </div>
            <div class="rightUniversity">
                <h2 class="section-main-title">NeoSOFT<br>University</h2>
                <p>NeoSOFT University looks for the best and the brightest that our fine education system offers. Fresh talent gets an opportunity to learn trending technologies and work on live projects. Explore opportunities with us.</p>
                <p class="email-info">Register your Profile on <a class="browseJobs" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">careers.neosofttech.com</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Neosoft University ends -->


<!-- Employee Perk -->
<div class="container-fluid employeePerkSection">
    <div class="container employeePerkContainer">
        <div class="employeePerkWrapper">
            <h2 class="empPerkTitle">Employee Perks (India)</h2>
            <ul>
                <ng-container *ngFor="let emp of empPerkImages">
                    <li>
                        <img class="mx-auto d-block" [src]="emp.empPerImg" [alt]="emp.empPerImgAlt">
                        <h4>{{ emp.title }}</h4>
                    </li>
                </ng-container>
            </ul>

        </div>
    </div>
</div>
<!-- Employee Perk ends-->

<!-- Footer Component -->
<app-footer></app-footer>
<!-- Footer Component ends -->