<!-- header section here -->
<app-header></app-header>
<!-- header section here -->

<!-- banner section start -->
<div class="container-fluid bannerSection overview-bottom-bg bottom-gradient-bg">
    <div class="container bannerContainer">
        <div class="bannerWrapper">
            <div class="banner-breadcumb">
                <ul>
                    <li class="home">
                        <a href="javascript:void(0)"><span class="icon-home"></span></a>
                    </li>
                    <!-- <li class="company"><a href="javascript:void(0);">Quick Links</a></li> -->
                    <li><strong>Career</strong></li>
                </ul>

            </div>
            <div class="banner-content">
                <h1 class="inner-page-title">We're NeoSOFT</h1>
                <p class="title-description">Be a part of Excellence, Innovation & Determination</p>
            </div>
        </div>
    </div>
</div>
<!-- banner section ends -->

<!-- //Career  -->
<div class="container-fluid findCareer">
    <div class="container findCareerContainer">
        <div class="findCarerrWrapper">
            <div class="careerLeft">
                <p>Opportunity to spearhead your career to the next level of excellence.</p>
            </div>
            <div class="careerRight">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Apply</a>
                <div class="applyModal">
                    <div class="modal" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content borderRadius">
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="modalWrapper">
                                        <div class="alertMessage">
                                            We're now taking you to <br> another NeoSOFT website.
                                        </div>
                                        <div class="alertButton">
                                            <a class="btnCancel" data-dismiss="modal" href="javascript:void(0);">Cancel</a>
                                            <a class="btnOk" (click)="goToLink('www.google.com')">Ok</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Career End  -->

<div class="contianer-fluid employeeMotivationSection">
    <div class="container employeeMotivationContainer">
        <div class="employeeMotivationWrapper">
            <ul>
                <li><span>1</span>Employee First,<br>Employee Always</li>
                <li><span>2</span> Be Empowered,<br>Get Recognized</li>
                <li><span>3</span> A Learning Curve<br>for Everyone</li>
                <li><span>4</span> Flexibility to<br>Perform</li>
                <li><span>5</span>Live Life, Strike<br>a Balance</li>
            </ul>
            <ul>
                <li><span>6</span>Make a Difference,<br>Be the Change</li>
                <li><span>7</span>Learn New Technologies,<br>when they are New</li>
                <li><span>8</span>Think like an<br>Entrepreneur</li>
                <li><span>9</span>Endless Boundaries<br>to Innovate</li>
                <li><span>10</span>Be Yourself,<br>Be the change</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid employeeBenifitSection">
    <div class="empBenifitWrapper">
        <h2>Employee&nbsp;<span>First</span>&nbsp;Employee&nbsp;<span>Always</span></h2>
        <div class="employeeOuterContainer careerCarosuelModule" [ngClass]="{'owl-carousel owl-theme': isOwl}">
            <div class="employee-inner sparkContent" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Flaunt<br>Your Talent</h3>
                    <p>A Platform beyond the Workstations - an opportunity to demonstrate one's noteworthy special talent.</p>
                </div>
            </div>
            <div class="employee-inner champions-content" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Fueling<br>Sportsmanship</h3>
                    <p>Cheering up the winning spirit of sports enthusiasts with indoor &amp; outdoor sports activities.</p>
                </div>
            </div>
            <div class="employee-inner employee-colab" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Employee<br>Collaboration</h3>
                    <p>An interactive knowledge sharing platform which fosters discussions, problem-solving, learning &amp; development.</p>
                </div>
            </div>
            <div class="employee-inner bliss-content" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Flaunt<br>Your Talent</h3>
                    <p>A Platform beyond the Workstations - an opportunity to demonstrate one's noteworthy special talent.</p>
                </div>
            </div>
            <div class="employee-inner wisdom-content" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Ideas Worth<br>Spreading</h3>
                    <p>Gaining a holistic approach towards life with bytes of knowledge, motivation, guidance, &amp; support.</p>
                </div>
            </div>
            <div class="employee-inner wellness-content" [ngClass]="{'item': isOwl}">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Fit<br>For Life</h3>
                    <p>Revealing the secret of becoming a healthier you; nurture body, mind, soul, &amp; spirit.</p>
                </div>
            </div>
            <div class="employee-inner neosmile-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Helping<br>Hands</h3>
                    <p>A commitment towards the society, doing more than just serving the needs of customers &amp; shareholders.</p>
                </div>
            </div>
            <div class="employee-inner connecto-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Connecting<br>People</h3>
                    <p>Mobile application that allows you to stay connected and get updates on NeoSOFT policies, events, notifications, etc.</p>
                </div>
            </div>
            <div class="employee-inner academy-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Nurturing<br>Careers</h3>
                    <p>A Platform that offers advanced learning opportunities to scale in the respective stream of expertise.</p>
                </div>
            </div>
            <div class="employee-inner bookcafe-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Read Learn<br>Discover</h3>
                    <p>Add a book to your life. A gateway to the kingdom of knowledge and wisdom.</p>
                </div>
            </div>
            <div class="employee-inner university-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Creating<br>Opportunities</h3>
                    <p>An excellent opportunity for the job aspirants to learn &amp; specialize in their chosen area of technology.</p>
                </div>
            </div>
            <div class="employee-inner excelencia-content">
                <div class="logoImage"></div>
                <div class="portal-shorInfo">
                    <h3>Outstanding<br>Performance</h3>
                    <p>Celebrating success - Recognizing &amp; rewarding the Star performers for their extraordinary achievements.</p>
                </div>
            </div>

        </div>
    </div>
</div>