<!-- header section here -->
<app-header></app-header>
<!-- header section here -->


<!-- banner section start -->
<app-banner [title]="'infrastructure'" [pageName]="'Company'" [description]="'World-class IT-enabled capabilities to facilitate excellent technological environment'">
</app-banner>
<!-- banner section ends -->

<div class="container-fluid infrastructure">
    <div class="container infrastructureContainer">
        <div class="infrastructureWrapper">
            <!-- <h3 class="clientele-title"> <span class="primary">OVER 1500 CLIENTS</span> IN 20 COUNTRIES</h3> -->
            <p>Partnerships are a critical part of our go-to-market strategy; thus, we take great care in selecting partners. These are best-of-breed firms that share our enthusiasm for meeting and exceeding our client expectations and complement our core
                competencies. Our current partners include:</p>
            <h3 class="clientele-title"> IT INFRASTRUCTURE</h3>
            <p class="highlight-text">Some of the highlights of our facilities are as follows:</p>
            <ul class="infraUlList">
                <li>Open seating plan for better interaction and collaboration across the organization</li>
                <li>Informal niches for creative and collaborative work</li>
                <li>Transparent rooms with whiteboards to promote transparency and teamwork</li>
                <li>Energy efficient lighting systems, VRF Air-conditioning to optimize power usage</li>
                <li>Open ceiling office to avoid a congested feeling</li>
                <li>Plants help reduce stress &amp; create a feeling of well-being, so we have put lot of indoor plants. It helps people breathe better, purify air, lower background noise, increasing humidity, keeping air temperature down</li>
                <li>Training Rooms, Conferences – dedicated to training, very much needed for knowledge industry</li>
                <li>ISO and Security Compliances – for Data Security, Network Security, IPR &amp; Confidentiality &amp; Physical Security</li>
                <li>Carrier Neutral Facility</li>
                <li>Redundant &amp; Reliable Power Supply (UPS, Diesel Generator – in place)</li>
                <li>24x7 Rapid Action Team</li>
                <li>24x7 Monitoring Team</li>
                <li>Cisco Layered Security</li>
                <li>99.995% Uptime Guarantee</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid infrastructureSecondSection">
    <div class="container infraContainer">
        <div class="itInfrastructureWrapper">
            <div class="itInfraBox box1">
                <h4>Cloud</h4>
                <ul class="infraUl">
                    <li>AWS</li>
                    <li>Google Cloud</li>
                    <li>MS-Azure</li>
                    <li>VMware</li>
                    <li>Openstack</li>
                    <li>IBM Cloud</li>
                </ul>
                <div class="infrastructureIcon">
                    <ul class="iconUl">
                        <li><img src="../../../../assets/images/whowearemodule/infrastructure/cloud-icon.png" alt="cloudIcon.png"></li>
                    </ul>
                </div>
            </div>
            <div class="itInfraBox box2">
                <h4>Devops</h4>
                <ul class="infraUl">
                    <li>Kubernetes</li>
                    <li>Docker</li>
                    <li>Jenkins</li>
                    <li>Puppets</li>
                    <li>Vagrant</li>
                    <li>Ansible</li>
                    <li>Gradle</li>
                    <li>Bamboo</li>
                </ul>
                <div class="infrastructureIcon">
                    <ul class="iconUl">
                        <li><img src="../../../../assets/images/whowearemodule/infrastructure/devops-icon.png" alt="devops-icon.png"></li>
                    </ul>
                </div>
            </div>
            <div class="itInfraBox box3">
                <h4>ide</h4>
                <ul class="infraUl">
                    <li>Eclipse</li>
                    <li>MS-STudio</li>
                    <li>Netbeans</li>
                    <li>PHPstorm</li>
                    <li>Intellij IDEA</li>
                    <li>Android Studio</li>
                    <li>Xcode</li>
                    <li>zendstudio</li>
                </ul>
                <div class="infrastructureIcon">
                    <ul class="iconUl">
                        <li><img src="../../../../assets/images/whowearemodule/infrastructure/IDE-icon.png" alt="IDE-icon.png"></li>
                    </ul>
                </div>
            </div>
            <div class="itInfraBox box4">
                <h4>Operating System</h4>
                <ul class="infraUl">
                    <li>Windows</li>
                    <li>Unix / Linux</li>
                    <li>Mac OS</li>
                    <li>Solaris</li>
                </ul>
                <div class="infrastructureIcon">
                    <ul class="iconUl">
                        <li>
                            <span class="icon-apple"></span>
                        </li>
                        <li>
                            <span class="icon-linux"></span>
                        </li>
                        <li>
                            <span class="icon-windows"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="itInfraBox box5">
                <h4>Code Repositories</h4>
                <ul class="infraUl">
                    <li>Subversion</li>
                    <li>Git</li>
                    <li>Mercurial</li>
                </ul>
                <div class="infrastructureIcon">
                    <ul class="iconUl">
                        <li><img src="../../../../assets/images/whowearemodule/infrastructure/code-image.png" alt="code.png"></li>
                    </ul>
                </div>
            </div>
            <div class="itInfraBox box6">
                <h4>Mobile/Tablet</h4>
                <ul class="infraUl">
                    <li>iPhone / iPad</li>
                    <li>Android Phones / Tablets</li>
                    <li>Blackberry Phones / Tablets</li>
                    <li>Windows Phones / Tablets</li>
                </ul>
                <div class="infrastructureIcon">
                    <ul class="iconUl">

                        <li>
                            <span class="icon-apple"></span>
                        </li>
                        <li>
                            <span class="icon-android"></span>
                        </li>
                        <li>
                            <span class="icon-blackberry"></span>
                        </li>
                        <li>
                            <span class="icon-windows"></span>
                        </li>

                        <!-- <li>
                            <span class="icon-linux"></span>
                        </li> -->


                    </ul>
                </div>
            </div>
            <div class="itInfraBox box7">
                <h4>Communication<br>Tools</h4>
                <ul class="infraUl">
                    <li>Skype</li>
                    <li>Gtalk</li>
                    <li>MSN Messenger</li>
                    <li>Yahoo Messenger</li>
                    <li>GoToMeeting</li>
                    <li>LogMeIn</li>
                    <li>Team Viewer</li>
                </ul>
                <div class="infrastructureIcon">
                    <ul class="iconUl">
                        <li><img src="../../../../assets/images/whowearemodule/infrastructure/communication-image.png" alt="code.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Footet section start -->
<app-footer></app-footer>
<!-- Footet section ends -->